<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card c-shadow">
        <div class="card-header">
          <h4 class="card-title underline">
            <i class="fas fa-plus"></i> add income</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="incomeForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="category">Category</label>
                  <ng-select id="category" [items]="categories" bindLabel="display" bindValue="value" formControlName="category" placeholder="Select your category"></ng-select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="total">Total</label>
                  <input type="number" class="form-control" [ngClass]="total.valid ? 'is-valid' : 'is-invalid'" id="total" formControlName="total"
                    placeholder="660">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" [ngClass]="description.valid ? 'is-valid' : 'is-invalid'" rows="5" id="description" formControlName="description"
                placeholder="Utility - water"></textarea>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-info" (click)="saveIncome()">Save income</button>
        </div>
      </div>
    </div>
  </div>
</div>
