<ng-container [formGroup]="vehicleForm">
  <td>
    <ng-select id="make" [items]="brands" formControlName="make" placeholder="Select make" (change)="getModels(make.value)"></ng-select>
  </td>
  <td>
    <ng-select id="model" [items]="models" formControlName="model" placeholder="Select model" (change)="getVariants(make.value, model.value)"></ng-select>
  </td>
  <td>
    <ng-select id="variant" [items]="variants" formControlName="variant" placeholder="Select variant"></ng-select>
  </td>
  <td>
    <input type="number" id="quantity" class="form-control" formControlName="quantity" placeholder="4">
  </td>
  <ng-content></ng-content>
</ng-container>
