<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <div class="navbar-text">{{dateTime}}</div>
    <ul class="navbar-nav dropdown-menu-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">
          <i class="fas fa-sign-out-alt"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="logOut()">SignOut</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
