<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>Serial No.</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let req of reqOrders | paginate: paginateConfig; let i = index" (click)="viewReq(req?.id)">
      <td>{{i+1}}</td>
      <td>{{req?.serial_no}}</td>
      <td>{{req?.created_at | date: 'mediumDate'}}</td>
      <td class="text-right">
        <button title="Close" (click)="reqOperation($event, 'close', req?.id)" class="btn btn-outline-info btn-sm" *ngIf="req?.status == 'opened' && loggedUser?.role == 'store_purchases'">
          <i class="fas fa-lock"></i>
        </button>
        <button title="Print" (click)="printReq($event, req?.id)" class="btn btn-outline-primary btn-sm" *ngIf="req?.status == 'opened' && (loggedUser?.role == 'store_purchases' || loggedUser?.role == 'plant_supervisor')">
          <i class="fas fa-print"></i>
        </button>
        <button title="Update" (click)="updateReq($event, req?.id)" class="btn btn-outline-warning btn-sm" *ngIf="req?.status == 'can_modify' && loggedUser?.role == 'plant_supervisor'">
          <i class="fas fa-wrench"></i>
        </button>
        <button title="Delete" (click)="reqOperation($event, 'delete', req?.id)" class="btn btn-outline-danger btn-sm" *ngIf="req?.status == 'can_modify' && (loggedUser?.role == 'store_purchases' || loggedUser?.role == 'plant_supervisor')">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning text-center" *ngIf="!loading && reqOrders.length === 0">
  No Requisition orders found
</div>
<div class="d-flex justify-content-center pt-2 pb-3" *ngIf="loading">
  <loaders-css [loader]="'ball-grid-pulse'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="getPage($event)" [id]="paginateConfig.id"></pagination-controls>
</div>