<div class="text-right">
  <button class="btn btn-outline-info" (click)="openReqModal(null)">
    <i class="fas fa-folder mr-2"></i>Create Requisition Order</button>
</div>

<div class="modal fade" id="requisitionOrderModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="requisitionOrderModalLabel">{{addReq ? 'Create Requisition Order' : 'Update Requisition Order'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <form [formGroup]="requisitionOrderForm">
        <div class="modal-body">
          <div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-8">Item</div>
                <div class="col-sm-4">Quantity</div>
              </div>
            </div>
            <ul class="list-group list-group-flush" formArrayName="req_particulars">
              <li class="list-group-item" *ngFor="let inventory of requisitionOrderForm.controls.req_particulars['controls']; let i=index">
                <div class="d-flex justify-content-between mt-2 mb-2">
                  <div class="container-fluid" [formGroupName]="i">
                    <req-particular [group]="requisitionOrderForm.controls.req_particulars.controls[i]"></req-particular>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button class="btn btn-danger btn-sm" *ngIf="requisitionOrderForm.controls.req_particulars['controls'].length > 1" (click)="removeInventory(i)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
            <button class="mt-3 btn btn-info btn-sm mb-2" (click)="addInventory()">Add inventory</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" [disabled]="requisitionOrderForm.invalid" (click)="saveChanges()">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
