<distributor-dashboard *ngIf="loggedUser?.role == 'distributor' || loggedUser?.role == 'dealer'" [dashboard]="dashboardData" [dealer]="loggedUser?.role == 'dealer'"></distributor-dashboard>
<div class="container-fluid p-5" *ngIf="loggedUser?.role == 'manufacturer'">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <stock-chart [dashboardData]="dashboardData"></stock-chart>
    </div>
    <div class="col-md-4">
      <div class="card c-shadow">
        <div class="card-header alt">PURCHASE ORDERS RAISED</div>
        <div class="card-body">
          <form [formGroup]='salesForm'>
            <div class="form-group">
              <label for="state">Select state</label>
              <select class="ml-2 custom-select" formControlName="state" id="state">
                <option value="all">All</option>
                <option [ngValue]="state?.code" *ngFor="let state of getStates()">{{state?.name}}</option>
              </select>
            </div>
          </form>
          <div *ngIf="state.value != undefined && state.value != ''">
            <hr>
            <ul class="list-group">
              <li class="list-group-item text-right">Today:
                <div class="badge badge-info">{{sales?.today}}</div>
              </li>
              <li class="list-group-item text-right">This week:
                <div class="badge badge-info">{{sales?.this_week}}</div>
              </li>
              <li class="list-group-item text-right">This month:
                <div class="badge badge-info">{{sales?.this_month}}</div>
              </li>
              <li class="list-group-item text-right">This year:
                <div class="badge badge-info">{{sales?.this_year}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-12">
      <div class="row h-100 align-items-center">
        <div class="col-md-4">
          <div class="card c-shadow">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div class="icon ml-1 mr-1">
                  <i class="fas fa-shopping-bag fa-3x text-info"></i>
                </div>
                <div class="content">
                  <h5 class="text-right alt card-title">SALES</h5>
                  <hr>
                  <h3 class="text-right">
                    <strong>{{stock}}</strong>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card c-shadow">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div class="icon ml-1 mr-1">
                  <i class="fas fa-shopping-bag fa-3x text-info"></i>
                </div>
                <div class="content">
                  <h5 class="text-right alt card-title">PURCHASES</h5>
                  <hr>
                  <h3 class="text-right">
                    <strong>{{stock}}</strong>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card c-shadow">
            <div class="card-body">
              <div class="d-flex align-items-center justify-content-between">
                <div class="icon ml-1 mr-1">
                  <i class="fas fa-shopping-bag fa-3x text-info"></i>
                </div>
                <div class="content">
                  <h5 class="text-right alt card-title">EXPENSES</h5>
                  <hr>
                  <h3 class="text-right">
                    <strong>{{stock}}</strong>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card h-100 c-shadow">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <i class="fas fa-cube fa-3x m-3 text-info"></i>
              <h4 class="alt">FINISHED PRODUCT</h4>
            </div>
            <h1>{{getFinishedProduct()}}</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card h-100 c-shadow">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <i class="fas fa-tachometer-alt fa-3x m-3 text-info"></i>
              <h4 class="alt">SPEED GOVERNORS</h4>
            </div>
            <h1>710</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 c-shadow">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <i class="fas fa-cube fa-3x m-3 text-info"></i>
              <h4 class="alt">SPEED SETTERS</h4>
            </div>
            <h1>0</h1>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
