<div class="container-fluid p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <div class="text-right">
        <button class="btn btn-outline-info" (click)="openExpenseModal(null)">
          <i class="fas fa-plus mr-2"></i>Record an expense</button>
      </div>
      <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link text-center active" id="pills-indirect-tab" data-toggle="pill" href="#pills-indirect" role="tab">
            <i class="fas fa-folder-open m-2"></i>
            <p class="m-0">Indirect</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" id="pills-direct-tab" data-toggle="pill" href="#pills-direct" role="tab">
            <i class="fas fa-folder m-2"></i>
            <p class="m-0">Direct</p>
          </a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-indirect" role="tabpanel">
          <expense-table type="indirect" (openExpenseModal)="openExpenseModal($event)"></expense-table>
        </div>
        <div class="tab-pane fade" id="pills-direct" role="tabpanel">
          <expense-table type="direct" (openExpenseModal)="openExpenseModal($event)"></expense-table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- expense modal -->

<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expenseModalTitle">{{addExpense ? 'Add Expense' : 'Update Expense'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="expenseForm">
          <div class="form-group row">
            <label for="category" class="col-sm-4 col-form-label">Category</label>
            <div class="col-sm-8">
              <ng-select id="category" [items]="categories" bindLabel="display" bindValue="value" formControlName="category" placeholder="Select your category"></ng-select>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="5" id="description" formControlName="description" placeholder="Utility - water"></textarea>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="amount">Amount</label>
              <input type="number" class="form-control" id="amount" formControlName="amount">
            </div>
            <div class="form-group col-sm-4">
              <label for="gst">GST %</label>
              <input type="number" class="form-control" id="gst" formControlName="gst">
            </div>
            <div class="form-group col-sm-4">
              <label for="total">Total</label>
              <input type="number" readonly class="form-control" id="total" formControlName="total">
            </div>
          </div>
          <div class="form-group">
            <label for="gstn">GSTN</label>
            <input type="text" class="form-control" [ngClass]="gstn.invalid ? 'is-invalid' : 'is-valid'" id="gstn" formControlName="gstn">
            <div class="alert alert-danger" *ngIf="gstn.touched && gstn.invalid">
              <p class="mb-0" *ngIf="gstn.hasError('pattern')">Please verify your GST number.</p>
              <p class="mb-0" *ngIf="gstn.hasError('minlength') || gstn.hasError('maxlength')">GST number should be 15 characters in length.</p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" [disabled]="expenseForm.invalid || expenseForm.pristine" class="btn btn-primary" (click)="saveExpense()">Save changes</button>
      </div>
    </div>
  </div>
</div>
