<div class="text-right" *ngIf="loggedUser.role == 'distributor'">
  <div class="btn btn-outline-info" (click)="openPOCreateModal()">
    <i class="fas fa-plus mr-2"></i>Raise Purchase Order</div>
</div>
<div class="modal fade" id="poModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="poModal">{{addForm ? 'Raise Purchase Order' : 'Update purchase order'}}</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="purchaseOrderForm" autocomplete="off">
          <div class="text-right">
            <button class="btn btn-sm" [ngClass]="savedAddress ? 'btn-warning' : 'btn-secondary'" *ngIf="addForm" (click)="useSavedAddress()">{{savedAddress ? 'Provide Address (optional)' : 'Use saved address'}}</button>
          </div>
          <ng-container *ngIf="!savedAddress">
            <div class="form-group" *ngIf="!addForm">
              <label for="address">Address</label>
              <textarea class="form-control" id="address" rows="5" formControlName="address"></textarea>
            </div>
            <div class="form-group" *ngIf="addForm">
              <label for="address_l1">Address line 1</label>
              <input class="form-control" id="address_l1" type="text" formControlName="address_l1" />
            </div>
            <div class="form-group" *ngIf="addForm">
              <label for="address_l2">Address line 2</label>
              <input class="form-control" id="address_l2" type="text" formControlName="address_l2" />
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" *ngIf="addForm">
                  <label for="locality">Locality</label>
                  <input class="form-control" id="locality" type="text" formControlName="locality" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" *ngIf="addForm">
                  <label for="city">City</label>
                  <input class="form-control" id="city" type="text" formControlName="city" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label id="state">State</label>
                  <ng-select aria-autocomplete="off" autocomplete="off" id="state" [items]="states" bindLabel="name" formControlName="state"
                    placeholder="Select state"></ng-select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group" *ngIf="addForm">
                  <label for="pincode">Pincode</label>
                  <input class="form-control" id="pincode" type="number" formControlName="pincode" />
                </div>
              </div>
            </div>
            <hr>
          </ng-container>
          <div class="form-group">
            <label for="remarks">Remarks</label>
            <input type="text" class="form-control" id="remarks" formControlName="remarks" placeholder="Lorem ipsum...">
          </div>
          <hr>
          <h4 class="underline mt-2">
            <i class="fas fa-plus"></i>Particulars</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Variant</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody formArrayName="particulars">
              <tr vehicle *ngFor="let vehicle of particulars.controls; let i=index" [formGroupName]="i" [group]="particulars.controls[i]">
                <td *ngIf="particulars.length > 1">
                  <button class="btn btn-outline-danger btn-sm" (click)="removeVehicle(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="mt-3 btn btn-info btn-sm" (click)="addVehicle()">Add Particular</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="purchaseOrderForm.invalid" (click)="savePO()">Save changes</button>
      </div>
    </div>
  </div>
</div>
