<div class="container h-100 d-flex align-items-center">
  <div class="row col justify-content-center">
    <div class="col-sm-11 col-md-10 col-lg-8 col-md-6 text-center">
      <h2 class="text-danger">OOPS! Something went wrong...</h2>
      <a routerLink="/" class="btn btn-info custom-btn mt-4">GO BACK</a>
      <img src="../../assets/images/404.svg" alt="404 Error" class="img-fluid">
    </div>
  </div>
</div>