<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Item code</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | filterBy: ['description']: search | paginate: config; let i = index">
      <td>{{ (i + 1) + (config.currentPage * config.itemsPerPage) - config.itemsPerPage}}</td>
      <td>{{item.description}}</td>
      <td>{{item.item_code}}</td>
      <td>{{item.quantity}}</td>
      <td class="text-right">
        <button class="btn btn-sm btn-outline-warning" (click)="openUpdate(item.id)">
          <i class="fas fa-wrench"></i>
        </button>
        <button class="btn btn-sm btn-outline-danger" (click)="deleteItem(item.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning text-center" *ngIf="!loading && items.length === 0">
  No inventory found
</div>
<div class="d-flex justify-content-center pt-2 pb-3" *ngIf="loading">
  <loaders-css [loader]="'ball-grid-pulse'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="config.currentPage = $event"></pagination-controls>
</div>
