<div class="container p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <div class="text-right">
        <div class="btn btn-outline-info" (click)="openUserModal(null)">Create User</div>
      </div>
      <div *ngIf="loggedUser?.role == 'manufacturer'">
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-center active" id="pills-employee-tab" data-toggle="pill" href="#pills-employee" role="tab">
              <i class="fas fa-chess-rook m-2"></i>
              <p class="m-0">Employees</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" id="pills-customers-tab" data-toggle="pill" href="#pills-customers" role="tab">
              <i class="fas fa-chess-knight m-2"></i>
              <p class="m-0">Customers</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" id="pills-manufacturers-tab" data-toggle="pill" href="#pills-manufacturers" role="tab">
              <i class="fas fa-chess-queen m-2"></i>
              <p class="m-0">Manufacturers</p>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-employee" role="tabpanel">
            <user-table type="employees" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-customers" role="tabpanel">
            <user-table type="customers" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-manufacturers" role="tabpanel">
            <user-table type="manufacturer" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
        </div>
      </div>
      <div *ngIf="loggedUser?.role == 'sales'">
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-center active" id="pills-distributors-tab" data-toggle="pill" href="#pills-distributors" role="tab">
              <i class="fas fa-chess-rook m-2"></i>
              <p class="m-0">Distributors</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" id="pills-dealers-tab" data-toggle="pill" href="#pills-dealers" role="tab">
              <i class="fas fa-chess-knight m-2"></i>
              <p class="m-0">Dealers</p>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-distributors" role="tabpanel">
            <user-table type="distributor" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-dealers" role="tabpanel">
            <user-table type="dealer" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
        </div>
      </div>
      <div *ngIf="loggedUser?.role == 'human_resource'">
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-purchases-tab" data-toggle="pill" href="#pills-purchases" role="tab">
              <p class="m-0">Store Purchases</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-dispatch-tab" data-toggle="pill" href="#pills-dispatch" role="tab">
              <p class="m-0">Store Dispatch</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-logistics-tab" data-toggle="pill" href="#pills-logistics" role="tab">
              <p class="m-0">Store Logistics</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-accounts-tab" data-toggle="pill" href="#pills-accounts" role="tab">
              <p class="m-0">Accounts</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-sales-tab" data-toggle="pill" href="#pills-sales" role="tab">
              <p class="m-0">Sales</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-human-tab" data-toggle="pill" href="#pills-human" role="tab">
              <p class="m-0">Human Resource</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-supervisor-tab" data-toggle="pill" href="#pills-supervisor" role="tab">
              <p class="m-0">Plant Supervisor</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-manager-tab" data-toggle="pill" href="#pills-manager" role="tab">
              <p class="m-0">Plant Manager</p>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-purchases" role="tabpanel">
            <user-table type="store_purchases" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-dispatch" role="tabpanel">
            <user-table type="store_dispatch" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-logistics" role="tabpanel">
            <user-table type="store_logistics" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-accounts" role="tabpanel">
            <user-table type="accounts" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-sales" role="tabpanel">
            <user-table type="sales" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-human" role="tabpanel">
            <user-table type="human_resource" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-supervisor" role="tabpanel">
            <user-table type="plant_supervisor" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
          <div class="tab-pane fade" id="pills-manager" role="tabpanel">
            <user-table type="plant_manager" (openUserModal)="openUserModal($event)" (password)="openPasswordModal($event)"></user-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- USER MODAL -->

<div class="modal fade" id="userModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <form [formGroup]="userForm" class="modal-content ml-2 mr-2" autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title">
          <strong class="alt">{{addUser ? 'Add new user' : 'Update user'}}</strong>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [ngClass]="name.valid ? 'is-valid' : 'is-invalid'" id="name" formControlName="name"
            placeholder="John Doe">
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" [ngClass]="email.valid ? 'is-valid' : 'is-invalid'" id="email" formControlName="email"
              placeholder="johndoe@company.com">
          </div>
          <div class="form-group col-sm-6">
            <label for="role">Role</label>
            <ng-select id="role" [items]="roles" bindLabel="display" bindValue="value" formControlName="role" placeholder="Select role"></ng-select>
          </div>
        </div>
        <div class="form-group" *ngIf="role.value === 'dealer'">
          <label for="distributor_id">Distributor's ID</label>
          <ng-select [items]="distributors" bindLabel="email" bindValue="id" [(ngModel)]="distributor_id.value" formControlName="distributor_id"
            placeholder="Select distributor"></ng-select>
        </div>
        <div class="row">
          <div class="form-group col-sm-6" *ngIf="addUser">
            <label for="password">Password</label>
            <input type="password" class="form-control" [ngClass]="password.valid ? 'is-valid' : 'is-invalid'" id="password" formControlName="password"
              placeholder="Eg: boiledcabbage">
          </div>
          <div class="form-group col-sm-6" *ngIf="addUser">
            <label for="password_confirmation">Confirm password</label>
            <input type="password" class="form-control" [ngClass]="password_confirmation.valid ? 'is-valid' : 'is-invalid'" id="password_confirmation"
              formControlName="password_confirmation" placeholder="Eg: boiledcabbage">
          </div>
        </div>
        <div formGroupName="details" *ngIf="role.value != 'manufacturer'">
          <div class="form-group">
            <label for="contact">Contact</label>
            <input type="tel" class="form-control" [ngClass]="contact.valid ? 'is-valid' : 'is-invalid'" id="contact" formControlName="contact"
              placeholder="+91-8368381828">
          </div>
          <div class="form-group" *ngIf="(role.value === 'distributor' || role.value === 'dealer') && !addUser">
            <label for="address">Address</label>
            <textarea class="form-control" [ngClass]="address.valid ? 'is-valid' : 'is-invalid'" id="address" rows="5" formControlName="address"></textarea>
          </div>
          <div class="form-group" *ngIf="(role.value === 'distributor' || role.value === 'dealer') && addUser">
            <label for="address_l1">Address line 1</label>
            <input class="form-control" [ngClass]="address_l1.valid ? 'is-valid' : 'is-invalid'" id="address_l1" type="text" formControlName="address_l1"
            />
          </div>
          <div class="form-group" *ngIf="(role.value === 'distributor' || role.value === 'dealer') && addUser">
            <label for="address_l2">Address line 2</label>
            <input class="form-control" [ngClass]="address_l2.valid ? 'is-valid' : 'is-invalid'" id="address_l2" type="text" formControlName="address_l2"
            />
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group" *ngIf="(role.value === 'distributor' || role.value === 'dealer') && addUser">
                <label for="locality">Locality</label>
                <input class="form-control" [ngClass]="locality.valid ? 'is-valid' : 'is-invalid'" id="locality" type="text" formControlName="locality"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" *ngIf="(role.value === 'distributor' || role.value === 'dealer') && addUser">
                <label for="city">City</label>
                <input class="form-control" [ngClass]="city.valid ? 'is-valid' : 'is-invalid'" id="city" type="text" formControlName="city"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" *ngIf="role.value === 'distributor' || role.value === 'dealer'">
                <label id="state">State</label>
                <input type="text" class="form-control" formControlName="state" *ngIf="role.value == 'dealer'" readonly="true">
                <ng-select id="state" *ngIf="role.value != 'dealer'" [items]="states" bindLabel="name" formControlName="state" placeholder="Select state"></ng-select>
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="(role.value === 'distributor' || role.value === 'dealer') && addUser">
            <label for="pincode">Pincode</label>
            <input class="form-control" [ngClass]="pincode.valid ? 'is-valid' : 'is-invalid'" id="pincode" type="number" formControlName="pincode"
            />
          </div>
          <div class="form-group" *ngIf="!employeeCheck() && role.value != undefined">
            <label for="gstn">GSTN</label>
            <input type="text" class="form-control" [ngClass]="gstn.valid ? 'is-valid' : 'is-invalid'" id="gstn" formControlName="gstn"
              placeholder="22AAAAA0000A1Z5">
            <div class="alert alert-danger" *ngIf="gstn.invalid && gstn.touched">
              <span *ngIf="gstn.hasError('required')">Please enter your GST number.</span>
              <p class="mb-0" *ngIf="!gstn.hasError('required') && gstn.hasError('pattern')">Please verify your GST number.</p>
              <span *ngIf="!gstn.hasError('required') && (gstn.hasError('minlength') || gstn.hasError('maxlength'))">GST number should be 15 characters in length.</span>
            </div>
          </div>
          <div *ngIf="employeeCheck() && role.value != undefined">
            <div class="row">
              <div class="form-group col-sm-6">
                <label for="base_salary">Base salary</label>
                <input type="number" class="form-control" id="base_salary" formControlName="base_salary" placeholder="10000">
              </div>
              <div class="form-group col-sm-6">
                <label for="hra">HRA</label>
                <input type="number" class="form-control" id="hra" formControlName="hra" placeholder="1500">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4" [ngClass]="{'col-sm-6': !hasEsic}">
                <label for="transport_allowance">Transport allowance</label>
                <input type="number" class="form-control" id="transport_allowance" formControlName="transport_allowance" placeholder="500">
              </div>
              <div class="form-group col-sm-4" [ngClass]="{'col-sm-6': !hasEsic}">
                <label for="gpf">GPF</label>
                <input type="number" class="form-control" formControlName="gpf" placeholder="3000">
              </div>
              <div class="form-group col-sm-4" *ngIf="hasEsic">
                <label for="esic">ESIC</label>
                <input type="number" class="form-control" id="esic" formControlName="esic" placeholder="400">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="m-0 mr-2 alert alert-danger" *ngIf="password_confirmation.errors?.MatchPassword">Password not match</div>
        <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        <button [disabled]="!userForm.valid" class="btn btn-outline-info" (click)="saveChanges()">Save changes</button>
      </div>
    </form>
  </div>
</div>

<!-- USER PASSWORD MODAL -->

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <form [formGroup]="passwordForm" class="modal-content ml-2 mr-2" autocomplete="off">
      <div class="modal-header">
        <h5 class="modal-title">
          <strong class="alt">Update password</strong>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="password_t">Password</label>
          <input type="password" class="form-control" [ngClass]="password_t.valid ? 'is-valid' : 'is-invalid'" id="password_t" formControlName="password"
            placeholder="Eg: boiledcabbage">
        </div>
        <div class="form-group">
          <label for="password_confirmation_t">Confirm password</label>
          <input type="password" class="form-control" [ngClass]="password_confirmation_t.valid ? 'is-valid' : 'is-invalid'" id="password_confirmation_t"
            formControlName="password_confirmation" placeholder="Eg: boiledcabbage">
        </div>
      </div>
      <div class="modal-footer">
        <div class="m-0 mr-2 alert alert-danger" *ngIf="password_confirmation_t.errors?.MatchPassword">Password not match</div>
        <button [disabled]="passwordForm.invalid" class="btn btn-outline-info" (click)="changePassword()">Change password</button>
        <button class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
