<form [formGroup]="reqParticularForm">
  <div class="row align-items-center">
    <div class="col-sm-8">
      <ng-select [items]="inventory" bindLabel="description" bindValue="id" formControlName="inventory_item_id" placeholder="Select inventory item"></ng-select>
    </div>
    <div class="col-sm-4">
      <input type="number" class="form-control col" id="quantity" formControlName="quantity">
    </div>
  </div>
</form>
