<div class="container mt-5">
  <div class="card c-shadow">
    <div class="card-body">
      <create-purchase-order></create-purchase-order>
      <form [formGroup]="filterForm" *ngIf="loggedUser.role == 'distributor' || loggedUser.role == 'dealer' || loggedUser.role == 'sales' || loggedUser.role == 'store_purchases'">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="start_date">Start date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select start date" ngx-mydatepicker formControlName="start_date"
                  name="start_date" #start="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="start.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="start.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="end_date">End date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select end date" ngx-mydatepicker formControlName="end_date"
                  name="end_date" #end="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="end.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="end.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="loggedUser.role != 'distributor'">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="state_code">State</label>
                <ng-select id="state_code" [items]="states" bindLabel="name" bindValue="code" formControlName="state_code" placeholder="Select your state"></ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="user">Distributor/Dealer</label>
                <ng-select id="user" [items]="users" bindLabel="email" bindValue="id" formControlName="user" placeholder="Select your user"></ng-select>
              </div>
            </div>
          </ng-container>
        </div>
        <hr>
      </form>
      <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" *ngIf="loggedUser?.role == 'store_purchases' || loggedUser?.role == 'distributor'">
          <a class="nav-link text-center active" id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab" (click)="type = 'can_modify'">
            <i class="fas fa-file m-2"></i>
            <p class="m-0">New</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedUser?.role == 'store_purchases' || loggedUser?.role == 'accounts'">
          <a class="nav-link text-center" [ngClass]="{'active': loggedUser?.role == 'accounts'}" id="pills-opened-tab" data-toggle="pill"
            href="#pills-opened" role="tab" (click)="type = 'opened'">
            <i class="fas fa-folder-open m-2"></i>
            <p class="m-0">Opened</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedUser?.role == 'store_purchases' || loggedUser?.role == 'store_dispatch'">
          <a class="nav-link text-center" [ngClass]="{'active': loggedUser?.role == 'store_dispatch'}" id="pills-processing-tab" data-toggle="pill"
            href="#pills-processing" role="tab" (click)="type = 'processing'">
            <i class="fas fa-cogs m-2"></i>
            <p class="m-0">Processing</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedUser?.role == 'store_purchases' || loggedUser?.role == 'store_logistics'">
          <a class="nav-link text-center" [ngClass]="{'active': loggedUser?.role == 'store_logistics'}" id="pills-dispatch-tab" data-toggle="pill"
            href="#pills-dispatch" role="tab" (click)="type = 'dispatch_ready'">
            <i class="fas fa-book m-2"></i>
            <p class="m-0">Dispatch Ready</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedUser?.role == 'sales' || loggedUser?.role == 'distributor'">
          <a class="nav-link text-center" [ngClass]="{'active': loggedUser?.role == 'sales'}" id="pills-inprocess-tab" data-toggle="pill"
            href="#pills-inprocess" role="tab" (click)="type = 'inprocess'">
            <i class="fas fa-puzzle-piece m-2"></i>
            <p class="m-0">Ongoing</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedUser?.role == 'store_purchases' || loggedUser?.role == 'distributor' || loggedUser?.role == 'sales'">
          <a class="nav-link text-center" id="pills-closed-tab" data-toggle="pill" href="#pills-closed" role="tab" (click)="type = 'closed'">
            <i class="fas fa-copy m-2"></i>
            <p class="m-0">Closed</p>
          </a>
        </li>
      </ul>
      <purchase-order-table [type]="type" [start_date]="start_date" [end_date]="end_date" [user]="user_filter.value" [state]="state_filter.value"
        (openDetailPO)="showDetails($event)" (openUpdatePO)="openUpdatePO($event)" (openConfirmPO)="openConfirmPO($event)"
        (openDispatchPO)="openDispatchPO($event)" (openClosePO)="openClosePO($event)"></purchase-order-table>
    </div>
  </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="detailModalLabel">PURCHASE ORDER</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h4 class="text-muted">{{currentPurchaseOrder?.serial_no}}</h4>
        </div>
        <hr>
        <div class="text-center mb-4">
          <div class="badge badge-info" *ngIf="currentPurchaseOrder?.tracking_no != null">Tracking number: {{currentPurchaseOrder?.tracking_no}}</div>
        </div>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>Make</th>
              <th>Model</th>
              <th>Variant</th>
              <th>Connector code</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let particulars of currentPurchaseOrder?.particulars">
              <td>{{particulars?.make}}</td>
              <td>{{particulars?.model}}</td>
              <td>{{particulars?.variant}}</td>
              <td>{{particulars?.connector}}</td>
              <td>{{particulars?.quantity}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="remarks">Remarks</label>
              <textarea class="form-control" id="remarks" disabled style="resize:none" rows="5" value="{{currentPurchaseOrder?.remarks}}"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="address">Address</label>
              <textarea class="form-control" id="address" disabled style="resize:none" rows="5" value="{{currentPurchaseOrder?.address}}"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="amount_paid">Amount paid</label>
                <input type="text" class="form-control" id="amount_paid" placeholder="0" disabled value="{{currentPurchaseOrder?.amount_paid}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="total_quantity">Total quantity</label>
                <input type="text" class="form-control" id="total_quantity" disabled value="{{currentPurchaseOrder?.total_quantity}}">
              </div>
            </div>
            <hr>
            <div class="col-md-6" *ngIf="currentPurchaseOrder?.shipping_amt">
              <div class="form-group">
                <label for="shipping_amt">Shipping amount</label>
                <input type="text" class="form-control" id="shipping_amt" disabled value="{{currentPurchaseOrder?.shipping_amt}}">
              </div>
            </div>
            <div class="col-md-6" *ngIf="currentPurchaseOrder?.shipping_date">
              <div class="form-group">
                <label for="shipping_date">Shipping date</label>
                <input type="text" class="form-control" id="shipping_date" disabled value="{{currentPurchaseOrder?.shipping_date}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirm P.O.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="confirmForm" autocomplete="off">
          <div class="form-group">
            <label for="amount_paid">Amount paid</label>
            <input type="number" class="form-control" [ngClass]="amount_paid.valid ? 'is-valid' : 'is-invalid'" id="amount_paid" formControlName="amount_paid"
              placeholder="Payable amount">
          </div>
          <div class="form-group">
            <label for="amount_gst">Amount GST %</label>
            <input type="number" class="form-control" [ngClass]="amount_gst.valid ? 'is-valid' : 'is-invalid'" id="amount_gst" formControlName="amount_gst"
              placeholder="Payable GST">
          </div>
          <div class="form-group">
            <label for="amount_total">Total amount</label>
            <input type="number" readonly class="form-control" id="amount_total" formControlName="amount_total" placeholder="Total amount">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="confirmForm.invalid" (click)="confirmPO()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dispatchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dispatchModalLabel">Dispatch P.O.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dispatchForm" autocomplete="off">
          <div class="form-group">
            <label for="device_ids">Devices
              <div class="badge badge-info">{{currentPurchaseOrder?.total_quantity - device_ids.value?.length}} remaining of {{currentPurchaseOrder?.total_quantity}}</div>
            </label>
            <ng-select id="device_ids" [items]="deviceList" [maxSelectedItems]="currentPurchaseOrder?.total_quantity" [multiple]="true"
              bindLabel="sld_number" bindValue="id" formControlName="device_ids" placeholder="Select devices"></ng-select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!(device_ids.value?.length == currentPurchaseOrder?.total_quantity)"
          (click)="dispatchPO()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="closeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="closeModalLabel">Close P.O.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="closeForm" autocomplete="off">
          <div class="form-group row">
            <label for="tracking_no" class="col-sm-3 col-form-label">Tracking Number</label>
            <div class="col-sm-9">
              <input type="string" autocomplete="off" class="form-control" id="tracking_no" formControlName="tracking_no" placeholder="176361663">
            </div>
          </div>
          <div class="form-group row">
            <label for="shipping_date" class="col-sm-3 col-form-label">Shipping Date</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input class="form-control" placeholder="Select a date" formControlName="shipping_date" ngx-mydatepicker name="mydate" #dp="ngx-mydatepicker"
                />
                <span class="input-group-append d-flex">
                  <button type="button" class="btn btn-warning rounded-0" (click)="dp.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info rounded-0" (click)="dp.toggleCalendar()">
                    <i class="fas fa-calendar"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="shipping_amt" class="col-sm-3 col-form-label">Shipping Amount</label>
            <div class="col-sm-9">
              <input type="number" autocomplete="off" class="form-control" id="shipping_amt" formControlName="shipping_amt">
            </div>
          </div>
          <div class="form-group row">
            <label for="shipping_gst" class="col-sm-3 col-form-label">Shipping GST %</label>
            <div class="col-sm-9">
              <input type="number" autocomplete="off" class="form-control" id="shipping_gst" formControlName="shipping_gst">
            </div>
          </div>
          <div class="form-group row">
            <label for="shipping_gstn" class="col-sm-3 col-form-label">Shipping GSTN</label>
            <div class="col-sm-9">
              <input type="text" autocomplete="off" class="form-control" id="shipping_gstn" formControlName="shipping_gstn">
              <div class="alert alert-danger" *ngIf="shipping_gstn.touched && shipping_gstn.invalid">
                <p class="mb-0" *ngIf="shipping_gstn.hasError('pattern')">Please verify your GST number.</p>
                <p class="mb-0" *ngIf="shipping_gstn.hasError('minlength') || shipping_gstn.hasError('maxlength')">GST number should be 15 characters in length.</p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="shipping_total" class="col-sm-3 col-form-label">Shipping Total</label>
            <div class="col-sm-9">
              <input type="number" autocomplete="off" class="form-control" id="shipping_total" formControlName="shipping_total" readonly>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="closePO()">Save changes</button>
      </div>
    </div>
  </div>
</div>
