<div class="container p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <form [formGroup]="filterForm">
          <input type="text" placeholder="Search inventory..." class="form-control" formControlName="search">
        </form>
        <button class="btn btn-outline-info" (click)="openInventoryModal(null)">
          <i class="fas fa-plus mr-2"></i>Add new inventory</button>
      </div>
      <div class="mt-3">
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-center active" id="pills-auto-tab" data-toggle="pill" href="#pills-auto" (click)="type = 'automotive_connector'"
              role="tab">
              <i class="fas fa-plug m-2"></i>
              <p class="m-0">Connectors</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" id="pills-tools-tab" data-toggle="pill" href="#pills-tools" (click)="type = 'tool'" role="tab">
              <i class="fas fa-gavel m-2"></i>
              <p class="m-0">Tools</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" id="pills-raw-tab" data-toggle="pill" href="#pills-raw" (click)="type = 'raw_material'" role="tab">
              <i class="fas fa-shopping-bag m-2"></i>
              <p class="m-0">Raw materials</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" id="pills-finished-tab" data-toggle="pill" href="#pills-finished" (click)="type = 'finished_product'"
              role="tab">
              <i class="fas fa-box m-2"></i>
              <p class="m-0">Finished products</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" id="pills-others-tab" data-toggle="pill" href="#pills-others" (click)="type = 'other'" role="tab">
              <i class="fas fa-boxes m-2"></i>
              <p class="m-0">Others</p>
            </a>
          </li>
        </ul>
        <inventory-table [search]="search.value" (openInventoryModal)="openInventoryModal($event)" [type]="type"></inventory-table>
      </div>
    </div>
  </div>
</div>


<!-- Inventory modal -->

<div class="modal fade" id="inventoryModal" tabindex="-1" role="dialog" aria-labelledby="inventoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title underline" id="inventoryModalLabel">
          <i class="fas fa-plus mr-2"></i>{{addItem ? 'add inventory item' : 'update inventory item'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="itemForm " autocomplete="off">
          <div class="form-group">
            <label for="category">Category</label>
            <ng-select id="category" [items]="categories" bindLabel="display" bindValue="value" formControlName="category" placeholder="Select your category"></ng-select>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5" class="form-control" id="description" formControlName="description" placeholder="Toyota Innova connector"></textarea>
          </div>
          <div class="form-group">
            <label for="item_code">Item code</label>
            <input type="text" class="form-control" id="item_code" formControlName="item_code" placeholder="GE09">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!itemForm.valid" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>
