<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xl-2 left d-flex flex-column justify-content-center align-items-center">
      <div class="mb-5">
        <a routerLink="/" class="btn btn-outline-warning btn-lg">Home</a>
      </div>
    </div>
    <div class="col-md-9 col-xl-10 d-flex justify-content-center align-items-center" style="overflow-y: scroll;">
      <div class="container-fluid">
        <div class="row justify-content-center mb-3">
          <div class="col-md-4 col-lg-2">
            <img src="../../../assets/images/user.png" alt="User Image" class="img-fluid rounded">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
            <h1 class="text-center mb-3 alt">Login to Gemeni App</h1>
            <div class="card">
              <div class="card-body">
                <form [formGroup]="loginForm" autocomplete="off">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="name@example.com">
                    <div class="alert alert-danger p-2 mt-1" *ngIf="email.touched && (email.hasError('required') || email.hasError('email'))">
                      <small *ngIf="email.touched && email.hasError('required')">Please enter the email.</small>
                      <small *ngIf="email.touched && email.hasError('email') && !email.hasError('required')">Please enter a valid email.</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="password" placeholder="burgerfries">
                    <div class="alert alert-danger p-2 mt-1" *ngIf="password.touched && (password.hasError('required') || password.hasError('minlength'))">
                      <small *ngIf="password.touched && password.hasError('required')">Please enter the password.</small>
                      <small *ngIf="password.touched && password.hasError('minlength')">Your password should be atleast 6 characters long.</small>
                    </div>
                  </div>
                  <button class="btn btn-success" (click)="signIn()" [disabled]="loginForm.invalid">Login</button>
                  <a class="btn btn-info" href="https://www.gemeniindia.com/contact/">Get in touch with us!</a>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 col-lg-3 mt-3">
            <a href="http://gemenienterprises.com/">
              <img src="../../assets/images/gemeni_logo.svg" alt="Gemeni Enterprises" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
