$dark-bg: #34495E
$light-blue: #4183d7
$yellow: #F4B350

.left
  background-color: $dark-bg
  min-height: 100vh

#login-form
  .input-group-addon
    color: $yellow
    background: none
  .form-control
    border-left: none
  .custom-btn
    border-color: $light-blue
    padding: .8em 5em
