<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card c-shadow">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="icon ml-1 mr-1">
              <i class="fas fa-shopping-bag fa-3x text-info"></i>
            </div>
            <div class="content">
              <h5 class="text-right alt card-title">VALID</h5>
              <h6 class="card-subtitle text-muted text-right">certificates</h6>
              <hr>
              <h3 class="text-right">
                <strong>{{dashboard?.certificates?.valid}}</strong>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card c-shadow">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="icon ml-1 mr-1">
              <i class="fas fa-shopping-bag fa-3x text-info"></i>
            </div>
            <div class="content">
              <h5 class="text-right alt card-title">EXPIRED</h5>
              <h6 class="card-subtitle text-muted text-right">certificates</h6>
              <hr>
              <h3 class="text-right">
                <strong>{{dashboard?.certificates?.expired}}</strong>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card c-shadow">
        <div class="card-header alt bg-info text-light">CERTIFICATE STATS</div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item text-right">Today:
              <div class="badge badge-info">{{dashboard?.certificates?.stats?.today}}</div>
            </li>
            <li class="list-group-item text-right">This week:
              <div class="badge badge-info">{{dashboard?.certificates?.stats?.this_week}}</div>
            </li>
            <li class="list-group-item text-right">This month:
              <div class="badge badge-info">{{dashboard?.certificates?.stats?.this_month}}</div>
            </li>
            <li class="list-group-item text-right">This year:
              <div class="badge badge-info">{{dashboard?.certificates?.stats?.this_year}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!dealer">
    <div class="col-md-4">
      <div class="card c-shadow">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="icon ml-1 mr-1">
              <i class="fas fa-shopping-bag fa-3x text-info"></i>
            </div>
            <div class="content">
              <h5 class="text-right alt card-title">CURRENT STOCK</h5>
              <h6 class="card-subtitle text-muted text-right">purchase orders</h6>
              <hr>
              <h3 class="text-right">
                <strong>{{dashboard?.stock?.available_devices.length}}</strong>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card c-shadow">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="icon ml-1 mr-1">
              <i class="fas fa-shopping-bag fa-3x text-info"></i>
            </div>
            <div class="content">
              <h5 class="text-right alt card-title">IN PROGRESS</h5>
              <h6 class="card-subtitle text-muted text-right">purchase orders</h6>
              <hr>
              <h3 class="text-right">
                <strong>{{dashboard?.purchase_orders?.in_progress}}</strong>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card c-shadow">
        <div class="card-header alt bg-info text-light">PURCHASE ORDER CLOSED</div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item text-right">Today:
              <div class="badge badge-info">{{dashboard?.purchase_orders?.closed?.today}}</div>
            </li>
            <li class="list-group-item text-right">This week:
              <div class="badge badge-info">{{dashboard?.purchase_orders?.closed?.this_week}}</div>
            </li>
            <li class="list-group-item text-right">This month:
              <div class="badge badge-info">{{dashboard?.purchase_orders?.closed?.this_month}}</div>
            </li>
            <li class="list-group-item text-right">This year:
              <div class="badge badge-info">{{dashboard?.purchase_orders?.closed?.this_year}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
