<div class="container p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-info" *ngIf="loggedUser.role == 'store_purchases'" (click)="openDeviceModal(null)">
          <i class="fas fa-plus mr-2"></i>Add devices</button>
      </div>
      <div class="d-flex justify-content-center">
        <div class="form-group">
          <input type="number" class="form-control" [(ngModel)]="search" placeholder="Search device...">
        </div>
      </div>
      <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" *ngIf="loggedUser.role != 'distributor' && loggedUser.role != 'dealer'">
          <a (click)="type = 'unsold'" class="nav-link text-center active" id="pills-unsold-tab" data-toggle="pill" href="#pills-unsold"
            role="tab">
            <i class="fas fa-folder-open m-2"></i>
            <p class="m-0">Unsold</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="loggedUser.role != 'distributor' && loggedUser.role != 'dealer'">
          <a (click)="type = 'dispatch'" class="nav-link text-center" id="pills-dispatched-tab" data-toggle="pill" href="#pills-dispatched"
            role="tab">
            <i class="fas fa-folder m-2"></i>
            <p class="m-0">Dispatched</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="type = 'sold'" class="nav-link text-center" [ngClass]="{'active': (loggedUser.role == 'distributor' || loggedUser.role == 'dealer')}"
            id="pills-sold-tab" data-toggle="pill" href="#pills-sold" role="tab">
            <i class="fas fa-folder m-2"></i>
            <p class="m-0">{{loggedUser.role == 'distributor' || loggedUser.role == 'dealer' ? 'Current stock' : 'Sold'}}</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="type = 'certified'" class="nav-link text-center" id="pills-certified-tab" data-toggle="pill" href="#pills-certified"
            role="tab">
            <i class="fas fa-folder m-2"></i>
            <p class="m-0">Certified</p>
          </a>
        </li>
      </ul>
      <device-table [type]="type" [search]="search" (openDeviceModal)="openDeviceModal($event)"></device-table>
    </div>
  </div>
</div>


<!-- Device modal -->

<div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="deviceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title underline" id="deviceModalLabel">
          <i class="fas fa-desktop mr-2"></i>{{addDevice ? 'add device' : 'update device'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <form [formGroup]="deviceForm">
          <table class="table">
            <tbody formArrayName="device">
              <tr *ngFor="let sld of device.controls; let i=index">
                <td class="align-middle">
                  <div class="badge badge-info">Device {{i + 1}}</div>
                </td>
                <td>
                  <sld-device [formGroupName]="i" [group]="device.controls[i]" (enterPressed)="enterPressed($event)" [position]="i"></sld-device>
                </td>
                <td class="align-middle">
                  <button class="btn btn-outline-danger btn-sm" (click)="deleteSld(i)" *ngIf="device.controls.length > 1">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-sm btn-outline-info" (click)="addSld()">Add device</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="deviceForm.invalid" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>
