<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>SLD number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of filteredDevices | filterBy: ['sld_number']: search | paginate: config; let i = index">
      <td>{{ (i + 1) + (config.currentPage * config.itemsPerPage) - config.itemsPerPage}}</td>
      <td>{{device.sld_number}}</td>
      <td class="text-right">
        <!-- <button class="btn btn-sm btn-outline-warning" title="Update device" (click)="updateDevice(device.id)"><i class="fas fa-wrench"></i></button> -->
        <button class="btn btn-sm btn-outline-danger" title="Delete device" (click)="deleteDevice(device.id)" *ngIf="device.status == 'unsold'">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning" *ngIf="filteredDevices.length == 0">
  No devices to display!
</div>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="config.currentPage = $event"></pagination-controls>
</div>