<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Subject</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feed of feedBack | paginate: paginateConfig; let i = index" (click)="openFeed(feed.id)">
      <td>{{ i+1 }}</td>
      <td>{{(feed.subject.length>12)? (feed.subject | slice:0:12)+'...':(feed.subject)}}</td>
      <td>{{feed.creator.name}}</td>
      <td class="text-right" *ngIf="loggedUser.role == 'sales'">
        <button class="btn btn-outline-danger btn-sm" (click)="deleteFeedback($event, feed.id)"><i class="fas fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning text-center" *ngIf="!loading && feedBack.length === 0">
  No feedback found
</div>
<div class="d-flex justify-content-center pt-2 pb-3" *ngIf="loading">
  <loaders-css [loader]="'ball-grid-pulse'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="getPage($event)" [id]="paginateConfig.id"></pagination-controls>
</div>