<div class="alert alert-warning" *ngIf="expenses.length == 0">
  No expenses recorded!
</div>
<table class="table table-hover" *ngIf="expenses.length > 0">
  <thead>
    <tr>
      <th>#</th>
      <th>Serial No</th>
      <th>Amount</th>
      <th>Total</th>
      <th>GST</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses; let i = index">
      <td>{{i+1}}</td>
      <td>{{expense.serial_no}}</td>
      <td>{{expense.amount}}</td>
      <td>{{expense.total}}</td>
      <td>{{expense.gst}}</td>
      <td class="text-right">
        <button class="btn btn-sm btn-outline-warning" title="Update" (click)="openExpense($event, expense.id)">
          <i class="fas fa-wrench"></i>
        </button>
        <button class="btn btn-sm btn-outline-danger" title="Delete" (click)="deleteExpense($event, expense.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>