<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user?.serial_no}}</td>
      <td>{{user?.name}}</td>
      <td>{{user?.email}}</td>
      <td>{{user?.details?.contact}}</td>
      <td>
        <button class="btn btn-outline-info btn-sm btn-sm" title="Change password" (click)="changePassword(user?.id)">
          <i class="fas fa-lock"></i>
        </button>
        <button class="btn btn-outline-warning btn-sm btn-sm" title="Update" (click)="openEditUserModal(user?.id)">
          <i class="fas fa-wrench"></i>
        </button>
        <button class="btn btn-outline-danger btn-sm btn-sm" title="Delete" (click)="deleteUser(user?.id, user?.email)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
