<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Serial No.</th>
      <th>Employee</th>
      <th>Paid date</th>
      <th>Bonus</th>
      <th>Leaves</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slip of slips | paginate: paginateConfig; let i=index">
      <td>{{((paginateConfig.currentPage-1) * paginateConfig.itemsPerPage) + i + 1}}</td>
      <td>{{slip.serial_no}}</td>
      <td>{{slip.employee.name}}</td>
      <td>{{slip.paid_date ? slip.paid_date : '-'}}</td>
      <td>{{slip.bonus}}</td>
      <td>{{slip.leave_days}}</td>
      <td>{{slip.amount}}</td>
      <td class="text-right">
        <button class="btn btn-sm btn-outline-primary" *ngIf="slip.status == 'can_modify' && loggedUser.role == 'human_resource'" (click)="slipAction($event, slip?.id, 'confirm')"><i class="fas fa-file"></i></button>
        <button class="btn btn-sm btn-outline-info" *ngIf="slip.status == 'confirmed' && loggedUser.role == 'accounts'" (click)="slipAction($event, slip?.id, 'pay')"><i class="fas fa-file"></i></button>
        <button class="btn btn-sm btn-outline-warning" *ngIf="slip.status == 'can_modify' && loggedUser.role == 'human_resource'" (click)="updateSlip($event, slip?.id)"><i class="fas fa-wrench"></i></button>
        <button class="btn btn-sm btn-outline-danger" *ngIf="slip.status == 'can_modify' && loggedUser.role == 'human_resource'" (click)="slipAction($event, slip?.id, 'delete')"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning text-center" *ngIf="!loading && slips.length === 0">
  No certificates found
</div>
<div class="d-flex justify-content-center pt-2 pb-3" *ngIf="loading">
  <loaders-css [loader]="'ball-grid-pulse'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="getPage($event)" [id]="paginateConfig.id"></pagination-controls>
</div>