<div class="card c-shadow">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="card-title alt text-center m-0">{{types[index]?.title}}</h5>
      <div>
        <button class="btn btn-outline-primary" (click)="leftClick()">
          <i class="fas fa-arrow-left"></i>
        </button>
        <button class="btn btn-outline-primary" (click)="rightClick()">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <hr>
    <div class="alert alert-warning" *ngIf="inventoryLabels.length == 0">No data available!</div>
    <div class="d-block" *ngIf="inventoryLabels.length > 0">
      <canvas baseChart [options]="barChartOptions" [data]="inventoryData" [legend]="barChartLegend" [labels]="inventoryLabels"
        [chartType]="pieChartType"></canvas>
    </div>
  </div>
</div>
