<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Serial No.</th>
      <th>Purchase by</th>
      <th>Created on</th>
      <th>Quantity</th>
      <th>Amount paid</th>
      <th *ngIf="type == 'in-process'">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let po of purchaseOrders | paginate: paginateConfig; let i = index" (click)="openDetail(po?.id)">
      <td>{{((paginateConfig.currentPage-1) * paginateConfig.itemsPerPage) + i + 1}}</td>
      <td>{{po?.serial_no}}</td>
      <td>{{po?.user?.name}}</td>
      <td>{{po?.created_at | date: 'mediumDate'}}</td>
      <td>{{po?.total_quantity}}</td>
      <td>{{po?.amount_paid ? po?.amount_paid : '-'}}</td>
      <td *ngIf="type == 'in-process'">
        <div class="badge badge-warning" *ngIf="po?.status == 'can_modify'">Pending</div>
        <div class="badge badge-success" *ngIf="po?.status == 'opened'">Confirmed</div>
        <div class="badge badge-info" *ngIf="po?.status == 'processing'">Processing</div>
        <div class="badge badge-secondary" *ngIf="po?.status == 'dispatch_ready'">Dispatched</div>
      </td>
      <td>
        <button title="Open order" *ngIf="po?.status == 'can_modify' && loggedUser?.role == 'store_purchases'" class="btn btn-sm btn-outline-info"
          (click)="confirm($event, 'open', po?.id)">
          <i class="fas fa-flag"></i>
        </button>
        <button title="Update order" *ngIf="po?.status == 'can_modify' && (loggedUser?.role == 'distributor' || loggedUser?.role == 'store_purchases')"
          class="btn btn-sm btn-outline-warning" (click)="openUpdate($event, po?.id)">
          <i class="fas fa-wrench"></i>
        </button>
        <button title="Confirm payment" *ngIf="po?.status == 'opened' && loggedUser?.role == 'accounts'" class="btn btn-sm btn-outline-info"
          (click)="openConfirm($event, po?.id)">
          <i class="fas fa-check"></i>
        </button>
        <button title="Print" *ngIf="po?.status == 'processing'" class="btn btn-sm btn-outline-info" (click)="printPO($event, po?.id)">
          <i class="fas fa-file-alt"></i>
        </button>
        <button title="Dispatch ready" *ngIf="po?.status == 'processing' && loggedUser?.role == 'store_dispatch'" class="btn btn-sm btn-outline-info"
          (click)="openDispatch($event, po?.id)">
          <i class="fas fa-truck"></i>
        </button>
        <button title="Confirm shipping" *ngIf="po?.status == 'dispatch_ready' && loggedUser?.role == 'store_logistics'" class="btn btn-sm btn-outline-secondary"
          (click)="openClose($event, po?.id)">
          <i class="fas fa-archive"></i>
        </button>
        <button title="Delete order" *ngIf="po?.status == 'can_modify' && loggedUser?.role == 'distributor'" class="btn btn-sm btn-outline-danger"
          (click)="deletePO($event, po?.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning text-center" *ngIf="!loading && purchaseOrders.length === 0">
  No Purchase Orders found
</div>
<div class="d-flex justify-content-center pt-2 pb-3" *ngIf="loading">
  <loaders-css [loader]="'ball-grid-pulse'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="getPage($event)" [id]="paginateConfig.id"></pagination-controls>
</div>