<div class="container p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <div class="text-right">
        <button class="btn btn-outline-info" (click)="openNoteModal(null)">
          <i class="fas fa-plus mr-2"></i>Raise goods receive note</button>
      </div>
      <form [formGroup]="filterForm">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="start_date">Start date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select start date" ngx-mydatepicker formControlName="start_date"
                  name="start_date" #start="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="start.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="start.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="end_date">End date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select end date" ngx-mydatepicker formControlName="end_date"
                  name="end_date" #end="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="end.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="end.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
      <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link text-center active" id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab" (click)="type = 'can_modify'">
            <i class="fas fa-file m-2"></i>
            <p class="m-0">New</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" id="pills-confirmed-tab" data-toggle="pill" href="#pills-confirmed" role="tab" (click)="type = 'confirmed'">
            <i class="fas fa-file-alt m-2"></i>
            <p class="m-0">Confirmed</p>
          </a>
        </li>
      </ul>
      <receive-note-table (openNoteViewModal)="openNoteViewModal($event)" (openNoteModal)="openNoteModal($event)" [start_date]="start_date" [end_date]="end_date" [type]="type"></receive-note-table>
    </div>
  </div>
</div>


<div class="modal fade" id="receiveNoteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title underline" id="receiveNoteModalLabel">
          <i class="fas fa-sticky-note mr-2"></i>{{addNote ? 'raise goods receive note' : 'update receive note'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <form [formGroup]="noteForm">
        <div class="modal-body pt-0">
          <div class="row">
            <table class="table table-hover m-0">
              <thead *ngIf="rn_particulars.length > 0">
                <tr>
                  <th class="w-25">Item</th>
                  <th>Unit price</th>
                  <th>Quantity</th>
                  <th>GST %</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody formArrayName="rn_particulars">
                <tr note-particular *ngFor="let inventory of rn_particulars.controls; let i=index" [formGroupName]="i" [group]="rn_particulars.controls[i]">
                  <td *ngIf="rn_particulars.length > 1">
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteParticular(i)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                    <button class="btn btn-sm btn-outline-success" (click)="addParticular(null)">Add particular</button>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tfoot>
            </table>
            <div class="form-group col-sm-4">
              <label for="gstn">GSTN</label>
              <input type="text" class="form-control" id="gstn" formControlName="gstn">
            </div>
            <div class="col-sm-12">
              <div class="alert alert-danger" *ngIf="gstn.touched && gstn.invalid">
                <p class="mb-0" *ngIf="gstn.hasError('pattern')">Please verify your GST number.</p>
                <p class="mb-0" *ngIf="gstn.hasError('minlength') || gstn.hasError('maxlength')">GST number should be 15 characters in length.</p>
              </div>
            </div>
            <div class="form-group col-sm-4">
              <label for="expenses">Expenses</label>
              <input type="number" class="form-control" id="expenses" [ngClass]="expenses.valid ? 'is-valid' : 'is-invalid'" formControlName="expenses">
            </div>
            <div class="col-sm-12 mb-2">
              <div class="card border-info">
                <div class="card-body">
                  <div class="text-center">
                    <h5 class="card-title badge badge-info badge-lg">Freight details</h5>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-3">
                      <label for="freight">Amount</label>
                      <input type="number" class="form-control" id="freight" [ngClass]="freight.valid ? 'is-valid' : 'is-invalid'" formControlName="freight">
                    </div>
                    <div class="form-group col-sm-3">
                      <label for="freight_gst">GST %</label>
                      <input type="number" class="form-control" id="freight_gst" [ngClass]="freight_gst.valid ? 'is-valid' : 'is-invalid'" formControlName="freight_gst">
                    </div>
                    <div class="form-group col-sm-3">
                      <label for="freight_gstn">GSTN</label>
                      <input type="text" class="form-control" id="freight_gstn" formControlName="freight_gstn">
                    </div>
                    <div class="form-group col-sm-3">
                      <label for="freight_total">Total</label>
                      <input type="number" class="form-control" id="freight_total" readonly formControlName="freight_total">
                    </div>
                    <div class="alert alert-danger" *ngIf="freight_gstn.touched && freight_gstn.invalid">
                      <p class="mb-0" *ngIf="freight_gstn.hasError('pattern')">Please verify your GST number.</p>
                      <p class="mb-0" *ngIf="freight_gstn.hasError('minlength') || freight_gstn.hasError('maxlength')">GST number should be 15 characters in length.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-9"></div>
            <div class="form-group col-sm-3">
              <label for="total">Total</label>
              <input type="number" class="form-control" [readonly]="true" id="total" formControlName="total">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" [disabled]="noteForm.invalid || rn_particulars.length == 0" (click)="saveChanges()">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteModalTitle">{{currentNote?.serial_no}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">RECEIVE NOTE:
              <span class="badge badge-primary">{{currentNote?.serial_no}}</span>
            </h5>
            <h6 class="card-subtitle text-muted mb-2">CREATED ON: {{currentNote?.created_at | date: 'mediumDate'}}</h6>
            <h6 class="card-text text-muted" *ngIf="currentNote?.gstn">GSTN:
              <span class="badge badge-secondary">{{currentNote.gstn}}</span>
            </h6>
            <div class="mb-2 d-flex flex-1 justify-content-end">
              <button title="Confirm" class="btn btn-outline-secondary mr-2" *ngIf="currentNote?.status == 'can_modify'" (click)="confirmNote(currentNote?.id)">
                <i class="fas fa-handshake"></i>
              </button>
            </div>
            <table class="table table-bordered table-responsive">
              <thead>
                <tr>
                  <th>Inventory Item ID</th>
                  <th>Quantity</th>
                  <th>Unit price</th>
                  <th>GST</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let particulars of currentNote?.rn_particulars">
                  <td>{{particulars.inventory_item?.item_code}} - {{particulars.inventory_item?.description}}</td>
                  <td>{{particulars.quantity}}</td>
                  <td>{{particulars.unit_price}}</td>
                  <td>{{particulars.gst}}%</td>
                  <td>{{particulars.total}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <h6 class="text-muted">Freight charges: ₹ {{currentNote?.freight}}</h6>
            <h6 class="text-muted" *ngIf="currentNote?.freight_gstn">Freight GSTN:
              <span class="badge badge-secondary">{{currentNote.freight_gstn}}</span>
            </h6>
            <h6 class="text-muted">Expenses: ₹ {{currentNote?.expenses}}</h6>
            <h6>Total: ₹ {{currentNote?.total}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
