<div class="container p-5" *ngIf="!certificate">
  <div class="alert alert-info text-center">Loading...</div>
</div>
<div class="container mt-5" *ngIf="certificate">
  <div class="d-flex justify-content-end controls">
    <button class="btn btn-outline-info mr-2" (click)="issueCheck(true)">
      <i class="fas fa-print mr-2"></i> Print
    </button>
    <button *ngIf="certificate" class="btn btn-outline-success" (click)="issueCheck(false)">
      <i class="fas fa-download mr-2"></i> Download
    </button>
  </div>
  <div class="container">
    <div class="card mt-4 mb-5">
      <div class="card-body">
        <h2 class="card-title text-center alt">GEMENI ENTERPRISES</h2>
        <h5 class="text-center alt">Assurance Certificate</h5>
        <table class="table table-bordered mt-4">
          <thead>
            <tr class="bg-primary text-light">
              <th colspan="2" class="text-center">CERTIFICATE DETAILS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Certificate Number</th>
              <td>{{certificate.certificate_number}}</td>
            </tr>
            <tr>
              <th>Date of Issue</th>
              <td>{{certificate.date_generated}}</td>
            </tr>
            <tr>
              <th>Date of expiry</th>
              <td>{{certificate.due_date}}</td>
            </tr>
            <tr>
              <th>RTO</th>
              <td>{{certificate.location_rto}}</td>
            </tr>
            <tr>
              <th>Registered state</th>
              <td>{{certificate.location_state}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <table class="table table-bordered">
          <thead>
            <tr class="bg-info text-light">
              <th colspan="2" class="text-center">VEHICLE DETAILS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Registration Number</th>
              <td>{{certificate.car_reg_number}}</td>
            </tr>
            <tr>
              <th>Vehicle make</th>
              <td>{{certificate.vehicle.make}}</td>
            </tr>
            <tr>
              <th>Vehicle model</th>
              <td>{{certificate.vehicle.model}}</td>
            </tr>
            <tr>
              <th>Chassis number</th>
              <td>{{certificate.chassis_number}}</td>
            </tr>
            <tr>
              <th>SLD number</th>
              <td>{{certificate.device.sld_number}}</td>
            </tr>
            <tr>
              <th>Cut-off speed</th>
              <td>{{certificate.cutoff_speed}}kmph</td>
            </tr>
            <tr>
              <th>Engine number</th>
              <td>{{certificate.engine_number}}</td>
            </tr>
            <tr>
              <th>Seal number / No. of seals</th>
              <td>{{certificate.seals}}</td>
            </tr>
            <tr>
              <th>Manufacturing month & year</th>
              <td>{{certificate.mfg_month_year}}</td>
            </tr>
            <tr>
              <th>Registration month & year</th>
              <td>{{certificate.reg_month_year}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <table class="table table-bordered">
          <thead>
            <tr class="bg-warning">
              <th colspan="2" class="text-center">CUSTOMER DETAILS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Name</th>
              <td>{{certificate.customer_name}}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{certificate.customer_address}}</td>
            </tr>
            <tr>
              <th>Contact</th>
              <td>{{certificate.customer_telephone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
