<div class="container-fluid p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <div class="text-right" *ngIf="loggedUser.role == 'distributor' || loggedUser.role == 'dealer'">
        <div class="btn btn-outline-info" (click)="openCertificateModal(null)">
          <i class="fas fa-plus mr-2"></i>Generate certificate</div>
      </div>
      <form [formGroup]="filterForm" *ngIf="loggedUser.role != 'distributor' && loggedUser.role != 'dealer'">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="start_date">Start date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select start date" ngx-mydatepicker formControlName="start_date"
                  name="start_date" #start="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="start.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="start.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="end_date">End date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select end date" ngx-mydatepicker formControlName="end_date"
                  name="end_date" #end="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="end.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="end.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="user">Distributor/Dealer</label>
              <ng-select id="user" [items]="users" bindLabel="email" bindValue="id" formControlName="user" placeholder="Select your user"></ng-select>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" [placeholder]="'Search by ' + (searchType == 'reg' ? 'registration no.' : 'sld')" formControlName="search">


              <div class="input-group-btn d-flex align-items-center">
                <div class="form-check form-check-inline radio m-0 h-100" [ngClass]="searchType == 'reg' ? 'bg-warning' : 'bg-light border border-secondary'">
                  <input type="radio" name="searchType" formControlName="searchType" id="by_reg_no" value="reg">
                  <label for="by_reg_no" class="pl-3 pr-3 m-0 d-flex align-items-center h-100">Reg. No.</label>
                </div>
                <div class="form-check form-check-inline radio m-0 h-100 rounded-right" [ngClass]="searchType == 'sld' ? 'bg-warning' : 'bg-light border border-secondary'">
                  <input type="radio" name="searchType" formControlName="searchType" id="by_sld" value="sld">
                  <label for="by_sld" class="pl-3 pr-3 m-0 d-flex align-items-center h-100">SLD No.</label>
                </div>
              </div>


            </div>
          </div>
        </div>
        <hr>
      </form>
      <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link text-center active" id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab" (click)="type = 'can_modify'">
            <i class="fas fa-chess-rook m-2"></i>
            <p class="m-0">New</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" id="pills-valid-tab" data-toggle="pill" href="#pills-valid" role="tab" (click)="type = 'is_valid'">
            <i class="fas fa-chess-queen m-2"></i>
            <p class="m-0">Issued</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" id="pills-soon-tab" data-toggle="pill" href="#pills-soon" role="tab" (click)="type = 'renewable'">
            <i class="fas fa-chess-knight m-2"></i>
            <p class="m-0">Expiring soon</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" id="pills-expired-tab" data-toggle="pill" href="#pills-expired" role="tab" (click)="type = 'expired'">
            <i class="fas fa-chess-queen m-2"></i>
            <p class="m-0">Expired</p>
          </a>
        </li>
      </ul>
      <certificate-table (updateCertificate)="openCertificateModal($event)" [type]="type" [start_date]="start_date" [search]="search" [searchType]="searchType"
        [end_date]="end_date" [user]="user_filter.value"></certificate-table>
    </div>
  </div>
</div>

<!-- Certificate modal -->
<div class="modal fade" id="certificateModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="certificateModalLabel">{{addForm ? 'Generate certificate' : 'Update certificate'}}</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="certificateForm" autocomplete="off">
          <div class="card border-info">
            <div class="card-body">
              <h5 class="underline mb-3">
                <i class="fas fa-tablet-alt mr-2"></i>SLD details</h5>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="sld_number">Select SLD number *</label>
                  <ng-select *ngIf="addForm; else disabledSld" [items]="devices" bindLabel="sld_number" bindValue="id" formControlName="device_id"
                    placeholder="Select SLD number"></ng-select>
                  <ng-template #disabledSld>
                    <input class="form-control" readonly id="sld_number" formControlName="device_id" placeholder="Select SLD number">
                  </ng-template>
                </div>
                <div class="form-group col-sm-4" *ngIf="device_id.valid">
                  <label for="invoice_no">Invoice No. *</label>
                  <input type="number" class="form-control" [ngClass]="invoice_no.valid ? 'is-valid' : 'is-invalid'" id="invoice_no" formControlName="invoice_no">
                </div>
                <div class="form-group col-sm-4" *ngIf="device_id.valid">
                  <label for="cutoff_speed">Cutoff Speed (kmph) *</label>
                  <input type="number" class="form-control" [ngClass]="cutoff_speed.valid ? 'is-valid' : 'is-invalid'" id="cutoff_speed" formControlName="cutoff_speed"
                    placeholder="40-120">
                </div>
              </div>
              <div class="alert alert-danger p-2 mb-0" *ngIf="cutoff_speed.touched && cutoff_speed.invalid">
                <span *ngIf="cutoff_speed.hasError('required')">Please enter the cutoff speed.</span>
                <span *ngIf="!cutoff_speed.hasError('required') && (cutoff_speed.hasError('min') || cutoff_speed.hasError('max'))">Cutoff speed should be between 40 and 120.</span>
              </div>
            </div>
          </div>
          <section *ngIf="device_id.valid">
            <div class="card border-info mt-3">
              <div class="card-body">
                <h5 class="underline mb-3">
                  <i class="fas fa-user-secret mr-2"></i>Customer Details</h5>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="customer_name">Full Name *</label>
                    <input type="text" autocomplete="off" class="form-control" [ngClass]="customer_name.valid ? 'is-valid' : 'is-invalid'" id="customer_name"
                      formControlName="customer_name" placeholder="John Doe">
                    <div class="alert alert-danger p-2 mt-1" *ngIf="customer_name.touched && customer_name.hasError('required')">Please enter the customer name.</div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="customer_telephone">Contact no. *</label>
                    <input type="text" class="form-control" [ngClass]="customer_telephone.valid ? 'is-valid' : 'is-invalid'" id="customer_telephone"
                      formControlName="customer_telephone" placeholder="+91-9900990099">
                    <div class="alert alert-danger p-2 mt-1" *ngIf="customer_telephone.touched && customer_telephone.invalid">
                      <small *ngIf="customer_telephone.hasError('required')">Please enter the customer phone number.</small>
                      <small *ngIf="customer_telephone.hasError('pattern')">Please verify the customer phone number.</small>
                      <small *ngIf="customer_telephone.hasError('minlength') || customer_telephone.hasError('maxlength')">Telephone should be 10-13 characters.</small>
                    </div>
                  </div>
                  <ng-template #address>
                    <div class="form-group col-sm-12">
                      <label for="customer_address">Address</label>
                      <textarea class="form-control" [ngClass]="customer_address.valid ? 'is-valid' : 'is-invalid'" id="customer_address" rows="5"
                        formControlName="customer_address"></textarea>
                      <div class="alert alert-danger p-2 mt-1" *ngIf="customer_address.touched && customer_address.hasError('required')">Please enter the address.</div>
                    </div>
                  </ng-template>
                  <ng-container *ngIf="addForm; else address">
                    <div class="form-group col-sm-6">
                      <label for="address_l1">Address line 1 *</label>
                      <input class="form-control" [ngClass]="address_l1.valid ? 'is-valid' : 'is-invalid'" id="address_l1" type="text" formControlName="address_l1"
                      />
                      <div class="alert alert-danger p-2 mt-1" *ngIf="address_l1.touched && address_l1.hasError('required')">Please enter the address line 1.</div>
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="address_l2">Address line 2 *</label>
                      <input class="form-control" [ngClass]="address_l2.valid ? 'is-valid' : 'is-invalid'" id="address_l2" type="text" formControlName="address_l2"
                      />
                      <div class="alert alert-danger p-2 mt-1" *ngIf="address_l2.touched && address_l2.hasError('required')">Please enter the address line 2.</div>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="locality">Locality *</label>
                      <input class="form-control" [ngClass]="locality.valid ? 'is-valid' : 'is-invalid'" id="locality" type="text" formControlName="locality"
                      />
                      <div class="alert alert-danger p-2 mt-1" *ngIf="locality.touched && locality.hasError('required')">Please enter the locality.</div>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="city">City *</label>
                      <input class="form-control" [ngClass]="city.valid ? 'is-valid' : 'is-invalid'" id="city" type="text" formControlName="city"
                      />
                      <div class="alert alert-danger p-2 mt-1" *ngIf="city.touched && city.hasError('required')">Please enter the city.</div>
                    </div>
                    <div class="form-group col-sm-4">
                      <label for="pincode">Pincode *</label>
                      <input class="form-control" [ngClass]="pincode.valid ? 'is-valid' : 'is-invalid'" id="pincode" type="number" formControlName="pincode"
                      />
                      <div class="alert alert-danger p-2 mt-1" *ngIf="pincode.touched && pincode.hasError('required')">Please enter the pincode.</div>
                      <div class="alert alert-danger p-2 mt-1" *ngIf="pincode.touched && (pincode.hasError('minlength') || pincode.hasError('maxlength'))">Pincode should be 6 characters long.</div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="card border-info mt-3">
              <div class="card-body">
                <h5 class="underline mb-3">
                  <i class="fas fa-car  mr-2"></i>Vehicle Details</h5>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="vehicle_make">Make *</label>
                    <ng-select [items]="makes" formControlName="vehicle_make" placeholder="Select vehicle make"></ng-select>
                    <div class="alert alert-danger p-2 mt-1" *ngIf="vehicle_make.touched && vehicle_make.hasError('required')">Please select the vehicle make.</div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="vehicle_model">Model *</label>
                    <ng-select [items]="models" formControlName="vehicle_model" placeholder="Select vehicle model"></ng-select>
                    <div class="alert alert-danger p-2 mt-1" *ngIf="vehicle_model.touched && vehicle_model.hasError('required') && vehicle_make.hasError('required')">Please select the vehicle make.</div>
                    <div class="alert alert-danger p-2 mt-1" *ngIf="vehicle_model.touched && vehicle_model.hasError('required') && !vehicle_make.hasError('required')">Please select the vehicle model.</div>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="seals">Seal Number / No. of seals</label>
                    <input type="text" formControlName="seals" class="form-control">
                  </div>
                  <div class="form-group col-sm-5">
                    <label for="engine_number">Engine number (11 digits)*</label>
                    <input type="text" class="form-control" [ngClass]="engine_number.valid ? 'is-valid' : 'is-invalid'" id="engine_number" formControlName="engine_number"
                      placeholder="1314213133243">
                    <div class="alert alert-danger p-2 mt-1" *ngIf="engine_number.touched && engine_number.hasError('required')">Please enter the engine number.</div>
                  </div>
                  <div class="form-group col-sm-7">
                    <label for="chassis_number">Chassis no (17 digits)*</label>
                    <input type="text" class="form-control" [ngClass]="chassis_number.valid ? 'is-valid' : 'is-invalid'" id="chassis_number"
                      formControlName="chassis_number" placeholder="87286381691">
                    <div class="alert alert-danger p-2 mt-1" *ngIf="chassis_number.touched && chassis_number.hasError('required')">Please enter the chassis number.</div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="car_reg_number">Registration no *</label>
                    <input type="text" class="form-control" [ngClass]="car_reg_number.valid ? 'is-valid' : 'is-invalid'" id="car_reg_number"
                      formControlName="car_reg_number" placeholder="GA-03-A-3131">
                    <div class="alert alert-danger p-2 mt-1" *ngIf="car_reg_number.touched && car_reg_number.hasError('required')">Please enter the car registration number.</div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="location_rto">RTO Office *</label>
                    <ng-select [items]="rto" bindLabel="full" bindValue="full" formControlName="location_rto" placeholder="Select rto office"></ng-select>
                    <div class="alert alert-danger p-2 mt-1" *ngIf="location_rto.touched && location_rto.hasError('required')">Please select the RTO.</div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="mfg_month_year">Manufacturing date *</label>
                    <div class="input-group">
                      <input class="form-control" formControlName="mfg_month_year" placeholder="Select a date" ngx-mydatepicker name="mfgDate"
                        [options]="mfgOptions" #dpm="ngx-mydatepicker" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-warning" (click)="dpm.clearDate()">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn btn-info" (click)="dpm.toggleCalendar()">
                          <i class="fas fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                    <div class="alert alert-danger p-2 mt-1" *ngIf="mfg_month_year.touched && mfg_month_year.hasError('required')">Please enter the mfg date.</div>
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="reg_month_year">Registration date</label>
                    <div class="input-group">
                      <input class="form-control" formControlName="reg_month_year" placeholder="Select a date" ngx-mydatepicker name="regDate"
                        [options]="regOptions" #dpr="ngx-mydatepicker" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-warning" (click)="dpr.clearDate()">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn btn-info" (click)="dpr.toggleCalendar()">
                          <i class="fas fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                    <div class="alert alert-danger p-2 mt-1" *ngIf="reg_month_year.touched && reg_month_year.hasError('required')">Please enter the reg date.</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="certificateForm.invalid" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>
