.radio input
    position: absolute !important
    clip: rect(0, 0, 0, 0)
    height: 1px
    width: 1px
    border: 0
    overflow: hidden

.radio label
  display: flex
  font-size: 1rem

.radio label:hover
	cursor: pointer