<form class="form-group mb-0 d-flex align-items-center" autocomplete="off" [formGroup]="sldForm">
  <input [attr.id]="'sld_number' + position" type="text" class="form-control" id="sld_number" formControlName="sld_number" placeholder="SLD Number" (keyup.enter)="keyUp()">
  <p class="text-danger ml-2 mb-0" *ngIf="sld_number.hasError('exists')" title="Device already exists!">
    <i class="fas fa-times-circle"></i>
  </p>
  <p class="text-danger ml-2 mb-0" *ngIf="sld_number.touched && (sld_number.hasError('minlength') || sld_number.hasError('maxlength'))" title="Device ID should be 9 characters in length!">
    <i class="fas fa-times-circle"></i>
  </p>
</form>
