<div class="container-fluid p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <h5 class="card-title underline">
        <i class="fas fa-credit-card mr-2"></i>Transactions view</h5>
      <h6 class="card-subtitle mb-4 text-muted">To begin your search choose a date</h6>
      <hr>
      <form class="container-fluid" [formGroup]="transactionForm">
        <div class="row">
          <div class="col-sm-12 col-lg-6 col-xl-3">
            <div class="form-group">
              <label for="start_date">Start date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select start date" ngx-mydatepicker formControlName="start_date"
                  name="start_date" #start="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="start.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="start.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 col-xl-3">
            <div class="form-group">
              <label for="end_date">End date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select end date" ngx-mydatepicker formControlName="end_date"
                  name="end_date" #end="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="end.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="end.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 col-xl-3">
            <div class="form-group">
              <label for="transactable_type">Transactable type</label>
              <ng-select id="transactable_type" [items]="transactables" bindLabel="display" bindValue="value" formControlName="transactable_type"
                placeholder="Select transactable type"></ng-select>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 col-xl-3">
            <div class="form-group">
              <label for="category">Category</label>
              <ng-select id="category" [items]="categories" bindLabel="display" bindValue="value" formControlName="category" placeholder="Select your category"></ng-select>
            </div>
          </div>
        </div>
      </form>
      <table class="table table-hover mt-3">
        <thead>
          <tr>
            <th>#</th>
            <th>Serial No</th>
            <th>Amount</th>
            <th>GST %</th>
            <th>Total</th>
            <th>Created at</th>
            <th *ngIf="transactable_type.invalid">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions | paginate: paginateConfig; let i = index" (click)="openTransactionModal(transaction.id)">
            <ng-container *ngIf="!loading">
              <td>{{((paginateConfig.currentPage-1) * paginateConfig.itemsPerPage) + i + 1}}</td>
              <td>{{transaction.transactable.serial_no}}</td>
              <td>{{transaction.amount}}</td>
              <td>{{transaction.gst}}</td>
              <td>{{transaction.total}}</td>
              <td>{{transaction.created_at | date: 'mediumDate'}}</td>
              <td *ngIf="transactable_type.invalid">{{transaction.transactable_type}}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-warning text-center" *ngIf="!loading && transactions.length === 0">
        No transactions found
      </div>
      <div class="d-flex justify-content-center pt-2 pb-3" *ngIf="loading">
        <loaders-css [loader]="'ball-grid-pulse'" [loaderClass]="'my-loader'"></loaders-css>
      </div>
      <div class="d-flex justify-content-end">
        <pagination-controls (pageChange)="getPage($event)" [id]="paginateConfig.id"></pagination-controls>
      </div>
    </div>
  </div>
</div>


<!-- Transaction modal -->

<div class="modal fade" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="transactionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title underline" id="transactionModalLabel">
          <i class="fas fa-credit-card"></i> transaction details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-1">
          <span class="badge badge-secondary badge-lg">{{transaction.transactable_type}}</span>
        </div>
        <p class="badge badge-primary badge-lg m-0">{{transaction.category | titlecase}}</p>
        <p class="badge badge-info badge-lg m-0">{{transaction.sub_category | titlecase}}</p>
        <table class="table table-bordered mt-2">
          <thead>
            <tr>
              <th>Amount</th>
              <th>GST %</th>
              <th>GST amount</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{transaction.amount}}</td>
              <td>{{transaction.gst}}</td>
              <td>{{transaction.gst_amount}}</td>
              <td>{{transaction.total}}</td>
            </tr>
          </tbody>
        </table>
        <h6 class="card-text text-muted">Created at: {{transaction.created_at | date: 'mediumDate'}}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
