<table class="table table-hover" id="table">
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Certificate</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let certificate of filterCertificates() | paginate: paginateConfig; let i  = index" (click)="viewCertificate(certificate?.id)">
      <td>{{((paginateConfig.currentPage-1) * paginateConfig.itemsPerPage) + i + 1}}</td>
      <td>{{certificate?.certificate_number}}</td>
      <td>{{certificate?.due_date}}</td>
      <td>
        <button class="btn btn-outline-warning btn-sm" *ngIf="certificate?.status == 'can_modify'" title="Modify" (click)="editCertificate($event, certificate?.id)">
          <i class="fas fa-edit"></i>
        </button>
        <button class="btn btn-outline-success btn-sm" title="Renew" *ngIf="certificate?.status == 'renewable'" (click)="renewCertificate($event, certificate?.id)">
          <i class="fas fa-sync-alt"></i>
        </button>
        <button class="btn btn-outline-info btn-sm" title="Download" (click)="issueCheck($event, certificate, false)">
          <i class="fas fa-download"></i>
        </button>
        <button class="btn btn-outline-warning btn-sm" title="Print" (click)="issueCheck($event, certificate, true)">
          <i class="fas fa-print"></i>
        </button>
        <button class="btn btn-outline-danger btn-sm" *ngIf="certificate?.status == 'can_modify'" title="Delete" (click)="deleteCertificate($event, certificate?.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning text-center" *ngIf="!loading && filterCertificates().length === 0">
  No certificates found
</div>
<div class="d-flex justify-content-center pt-2 pb-3" *ngIf="loading">
  <loaders-css [loader]="'ball-grid-pulse'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="getPage($event)" [id]="paginateConfig.id"></pagination-controls>
</div>
