<ng-container [formGroup]="rnParticularForm">
  <td><ng-select [items]="inventories" bindLabel="description" bindValue="id" formControlName="inventory_item_id" placeholder="Select item"></ng-select></td>
  <td><input type="number" class="form-control" id="unit_price" formControlName="unit_price" [ngClass]="unit_price.valid ? 'is-valid' : 'is-invalid'"></td>
  <td><input type="number" class="form-control" id="quantity" formControlName="quantity" [ngClass]="quantity.valid ? 'is-valid' : 'is-invalid'"></td>
  <td><input type="number" class="form-control" id="gst" formControlName="gst" [ngClass]="gst.valid ? 'is-valid' : 'is-invalid'"></td>
  <td><input type="number" [readonly]="true" class="form-control" value="total" id="total" formControlName="total"></td>
  <ng-content></ng-content>
</ng-container>