<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-md-4 col-lg-3 col-xl-2 menu">
      <div class="user mt-2 mb-5">
        <div class="card mt-3">
          <div class="card-body text-center" *ngIf="loggedUser != null">
            <img src="../../assets/images/user.png" alt="" class="profile-img img-fluid rounded-circle">
            <h6 class="mt-2 mb-1">{{loggedUser.name}}</h6>
            <h6 class="mt-2 mb-1">{{loggedUser.email}}</h6>
            <span class="badge badge-info">{{loggedUser.role}}</span>
          </div>
        </div>
      </div>
      <side-nav></side-nav>
    </div>
    <div class="col-md-8 col-lg-9 col-xl-10 p-0">
      <top-navbar></top-navbar>
      <div class="overflow-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
