$dark-bg: #34495E
$pale: #f5f6fa

.dashboard
  .profile-img
    width: 75px
    height: 75px
  .menu
    overflow-y: auto
    height: 100vh
    background-color: $dark-bg
  .overflow-container
    background-color: $pale

.right
  max-height: 100vh
  overflow: auto
  .bar
    height: 4rem