<div *ngIf="loggedUser != null">
  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'dealer'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="devices">
      <i class="fas fa-list mr-2"></i>Devices</a>
    <a class="nav-link" routerLinkActive="active" routerLink="certificate/list-certificates">
      <i class="fas fa-th-list mr-2"></i>Certificates</a>
    <a class="nav-link" routerLinkActive="active bg-success" routerLink="feedback">
      <i class="fas fa-comment-alt mr-2"></i>Feedback</a>
  </div>

  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'distributor'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="devices">
      <i class="fas fa-list mr-2"></i>Device List</a>
    <a class="nav-link" routerLinkActive="active" routerLink="certificate/list-certificates">
      <i class="fas fa-th-list mr-2"></i>Certificates</a>
    <a class="nav-link" routerLinkActive="active" routerLink="purchase-order">
      <i class="fas fa-list-ol mr-2"></i>Purchase Order</a>
    <a class="nav-link" routerLinkActive="active" routerLink="transfer-devices">
      <i class="fas fa-shopping-basket mr-2"></i>Transfer Stock</a>
    <a class="nav-link" routerLinkActive="active bg-success" routerLink="feedback">
      <i class="fas fa-comment-alt mr-2"></i>Feedback</a>
  </div>

  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'manufacturer'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="devices">
      <i class="fas fa-list mr-2"></i>Device</a>
    <a class="nav-link" routerLinkActive="active" routerLink="vehicle">
      <i class="fas fa-car mr-2"></i>Vehicles</a>
    <a class="nav-link" routerLinkActive="active" routerLink="inventory">
      <i class="fas fa-credit-card mr-2"></i>Inventory</a>
    <a class="nav-link" routerLinkActive="active" routerLink="transactions">
      <i class="fas fa-folder mr-2"></i>Transactions</a>
    <a class="nav-link" routerLinkActive="active" routerLink="user-management">
      <i class="fas fa-users mr-2"></i>User Management</a>
    <a class="nav-link" routerLinkActive="active bg-success" routerLink="feedback">
      <i class="fas fa-comment-alt mr-2"></i>Feedback</a>
  </div>

  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'human_resource'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="user-management">
      <i class="fas fa-users mr-2"></i>User management</a>
    <a class="nav-link" routerLinkActive="active" routerLink="salary-slip">
      <i class="fas fa-users mr-2"></i>Salary slips</a>
  </div>


  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'accounts'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="purchase-order">
      <i class="fas fa-list-ol mr-2"></i>Purchase Order</a>
    <a class="nav-link" routerLinkActive="active" routerLink="salary-slip">
      <i class="fas fa-users mr-2"></i>Salary slips</a>
    <a class="nav-link" routerLinkActive="active" routerLink="expense">
      <i class="fas fa-folder mr-2"></i>Expenses</a>
    <a class="nav-link" routerLinkActive="active" routerLink="income">
      <i class="fas fa-folder mr-2"></i>Incomes</a>
    <a class="nav-link" routerLinkActive="active" routerLink="transactions">
      <i class="fas fa-folder mr-2"></i>Transactions</a>
  </div>

  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'store_purchases'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="devices">
      <i class="fas fa-desktop mr-2"></i>Devices</a>
    <a class="nav-link" routerLinkActive="active" routerLink="inventory">
      <i class="fas fa-credit-card mr-2"></i>Inventory</a>
    <a class="nav-link" routerLinkActive="active" routerLink="purchase-order">
      <i class="fas fa-list-ol mr-2"></i>Purchase Order</a>
    <a class="nav-link" routerLinkActive="active" routerLink="receive-note">
      <i class="fas fa-sticky-note mr-2"></i>Receive Note</a>
    <a class="nav-link" routerLinkActive="active" routerLink="requisition-order">
      <i class="fas fa-folder mr-2"></i>Requisition Order</a>
  </div>

  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'store_dispatch'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="purchase-order">
      <i class="fas fa-list-ol mr-2"></i>Purchase Order</a>
  </div>

  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'store_logistics'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="purchase-order">
      <i class="fas fa-list-ol mr-2"></i>Purchase Order</a>
  </div>

  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'sales'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="vehicle">
      <i class="fas fa-car mr-2"></i>Vehicles</a>
    <a class="nav-link" routerLinkActive="active" routerLink="certificate/list-certificates">
      <i class="fas fa-th-list mr-2"></i>Certificates</a>
    <a class="nav-link" routerLinkActive="active" routerLink="purchase-order">
      <i class="fas fa-list-ol mr-2"></i>Purchase Order</a>
    <a class="nav-link" routerLinkActive="active" routerLink="user-management">
      <i class="fas fa-users mr-2"></i>User Management</a>
    <a class="nav-link" routerLinkActive="active bg-success" routerLink="feedback">
      <i class="fas fa-comment-alt mr-2"></i>Feedback</a>
  </div>

  <div class="nav flex-column nav-pills" *ngIf="loggedUser.role == 'plant_supervisor'">
    <a class="nav-link" routerLinkActive="active" routerLink="home">
      <i class="fas fa-home mr-2"></i>Home</a>
    <a class="nav-link" routerLinkActive="active" routerLink="inventory">
      <i class="fas fa-credit-card mr-2"></i>Inventory</a>
    <a class="nav-link" routerLinkActive="active" routerLink="requisition-order">
      <i class="fas fa-folder mr-2"></i>Requisition Order</a>
  </div>
</div>
