<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Serial No</th>
      <th>Freight</th>
      <th>Expenses</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let note of notes | paginate: paginateConfig; let i = index" (click)="viewNote(note?.id)">
      <td>{{((paginateConfig.currentPage-1) * paginateConfig.itemsPerPage) + i + 1}}</td>
      <td>{{note.serial_no}}</td>
      <td>₹ {{note.freight_total}}</td>
      <td>₹ {{note.expenses}}</td>
      <td>₹ {{note.total}}</td>
      <td class="text-right">
        <button title="Update" class="btn btn-sm btn-outline-warning" *ngIf="note?.status == 'can_modify'" (click)="updateNote($event, note?.id)">
          <i class="fas fa-wrench"></i>
        </button>
        <button title="Delete" class="btn btn-sm btn-outline-danger" *ngIf="note?.status == 'can_modify'" (click)="deleteNote($event, note?.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning text-center" *ngIf="!loading && notes.length === 0">
  No Receive Notes found
</div>
<div class="d-flex justify-content-center pt-2 pb-3" *ngIf="loading">
  <loaders-css [loader]="'ball-grid-pulse'" [loaderClass]="'my-loader'"></loaders-css>
</div>
<div class="d-flex justify-content-end">
  <pagination-controls (pageChange)="getPage($event)" [id]="paginateConfig.id"></pagination-controls>
</div>