@import url('https://fonts.googleapis.com/css?family=ABeeZee|Montserrat')
@import "~@ng-select/ng-select/themes/default.theme.css"

$dark-red: #CF000F
$light-blue: #4183d7
$white: #fafafa

*
  font-family: 'ABeeZee', sans-serif

.alt
  font-family: 'Montserrat', sans-serif !important
  
html
  font-size: 100%
a
  color: $light-blue

.flex-1
  flex: 1
  
.custom-btn
  border: 2px solid $dark-red
  border-radius: 1.5em
  padding: .8em 3em
  color: $dark-red
  background: none
  cursor: pointer

.custom-btn:hover
  color: $white
  background-color: $dark-red
  border-color: transparent !important

.underline
  border-bottom: 2px dashed $dark-red
  display: inline-block
  padding: 0 10px 5px
  .far, .fas, svg
    margin-right: 10px
    color: $dark-red

.overflow-container
  overflow-y: auto

.drop
  -webkit-filter: drop-shadow(4px 3px 3px rgba(34,34,34,.6))
  filter: drop-shadow(4px 3px 3px rgba(34,34,34,.6))

.c-shadow
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)

.badge-lg
  font-size: 100%
  padding: .5em
ng2-dropdown-menu
  z-index: 9999 !important
  .ng2-dropdown-menu
    z-index: 9999 !important
    ng2-menu-item
      z-index: 9999 !important

.loader .my-loader
  background-color: #007bff