<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title underline">
            <i class="fas fa-plus"></i>Transfer Stock</h4>
          <form [formGroup]="transferForm" autocomplete="off" (ngSubmit)="transferInit()">
            <div class="form-group">
              <label for="user_id">Dealer</label>
              <ng-select id="user_id" [items]="users" bindLabel="email" bindValue="id" formControlName="user_id" placeholder="Select dealer's email"></ng-select>
            </div>
            <div class="form-group">
              <label for="device_ids">SLD Devices</label>
              <ng-select id="device_ids" [items]="devices" bindLabel="sld_number" bindValue="id" formControlName="device_ids" placeholder="Choose devices for transfer" [multiple]="true"></ng-select>
            </div>
            <input type="submit" [disabled]="transferForm.invalid" value="Transfer" class="btn btn-success">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
