<div class="container-fluid p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <form [formGroup]="filterForm">
          <input type="text" formControlName="search" class="form-control" placeholder="Search vehicles...">
        </form>
        <button class="btn btn-outline-success" (click)="openModal(null)">Create new vehicle</button>
      </div>
      <table class="table table-hover mt-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Make</th>
            <th scope="col">Model</th>
            <th scope="col">Variant</th>
            <th scope="col">TAC No.</th>
            <th scope="col">Category</th>
            <th scope="col">Connector code</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles | filterBy: ['make', 'model']: search.value | paginate: config;  let i = index">
            <th scope="row">{{((config.currentPage-1) * config.itemsPerPage) + i + 1}}</th>
            <td>{{vehicle?.make}}</td>
            <td>{{vehicle?.model}}</td>
            <td>{{vehicle?.variant}}</td>
            <td>{{vehicle?.tac_number}}</td>
            <td>{{vehicle?.category}}</td>
            <td>{{vehicle?.connector.item_code}}</td>
            <td class="text-right">
              <button class="btn btn-outline-warning btn-sm" (click)="openModal(vehicle?.id)">
                <i class="fas fa-wrench"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm" (click)="deleteVehicle(vehicle?.id)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-warning text-center" *ngIf="vehicles.length === 0">
        No inventory found
      </div>
      <div class="d-flex justify-content-end">
        <pagination-controls (pageChange)="config.currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- Vehicle modal -->

<div class="modal fade" id="vehicleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title underline">
          <i class="fas fa-plus"></i> {{ addForm ? 'add new vehicle' : 'update vehicle'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="vehicleForm" autocomplete="off">
          <div class="container-fluid">
            <div class="row">
              <div class="form-group col-sm-4">
                <label for="make">Make</label>
                <input type="text" class="form-control" id="make" formControlName="make" placeholder="Toyota">
                <div class="alert alert-danger p-2 mt-1" *ngIf="make.touched && make.hasError('required')">Please enter the make.</div>
              </div>
              <div class="form-group col-sm-4">
                <label for="model">Model</label>
                <input type="text" class="form-control" id="model" formControlName="model" placeholder="Prius">
                <div class="alert alert-danger p-2 mt-1" *ngIf="model.touched && model.hasError('required')">Please enter the model.</div>
              </div>
              <div class="form-group col-sm-4">
                <label for="variant">Variant</label>
                <input type="text" class="form-control" id="variant" formControlName="variant" placeholder="ABS">
                <div class="alert alert-danger p-2 mt-1" *ngIf="variant.touched && variant.hasError('required')">Please enter the variant.</div>
              </div>
              <div class="form-group col-sm-4">
                <label for="tac_number">TAC number</label>
                <input type="text" class="form-control" id="tac_number" formControlName="tac_number" placeholder="AKD1345A">
                <div class="alert alert-danger p-2 mt-1" *ngIf="tac_number.touched && tac_number.hasError('required')">Please enter the tac_number.</div>
              </div>
              <div class="form-group col-sm-3">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" formControlName="category" placeholder="LMV">
                <div class="alert alert-danger p-2 mt-1" *ngIf="category.touched && category.hasError('required')">Please enter the category.</div>
              </div>
              <div class="form-group col-sm-5">
                <label for="connector_id">Connector</label>
                <ng-select id="connector_id" [items]="connectors" bindLabel="description" bindValue="id" formControlName="connector_id" placeholder="Select connector"></ng-select>
                <div class="alert alert-danger p-2 mt-1" *ngIf="connector_id.touched && connector_id.hasError('required')">Please select the connector.</div>
              </div>
            </div>
            <ng-container *ngIf="icat_pages.length > 0">
              <div class="mb-2 text-right" *ngFor="let icat of icat_pages; let i = index">
                <hr>
                <span class="badge badge-info badge-bg mb-2">Document {{i + 1}}</span>
                <button class="btn btn-danger btn-sm mb-2 ml-2" (click)="deleteIcat(icat.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <div class="row">
                  <div class="col-sm-6" *ngFor="let page of icat.pages">
                    <a [attr.href]="page.page_url" target="_blank">
                      <img [src]="page.page_url" class="img-fluid border border-dark">
                    </a>
                  </div>
                </div>
              </div>
            </ng-container>
            <hr>
            <div class="form-group" formArrayName="icats" *ngIf="icats.controls.length > 0">
              <label for="icat">Select documents</label>
              <ng-container *ngFor="let icat of icats.controls; let i = index">
                <div class="d-flex mb-2">
                  <input [formGroupName]="i" accept="application/pdf" type="file" class="form-control-file" [id]="'icat' + i" (change)="onFileChange($event, i)">
                  <button class="btn btn-danger" (click)="removeIcat(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </ng-container>
            </div>
            <button class="btn btn-primary" (click)="addIcat()" *ngIf="(addForm && icats.length < 1) || !addForm">Add Document</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="vehicleForm.invalid || vehicleForm.pristine" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>
