<div class="container p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <div class="text-right" *ngIf="loggedUser.role == 'human_resource'">
        <button class="btn btn-outline-success" (click)="openSlipModal(null)">Create salary slip</button>
      </div>
      <form class="row mt-3" [formGroup]="filterForm">
        <div class="col-md-4">
          <div class="form-group">
            <label for="start_date">Start date</label>
            <div class="input-group">
              <input class="form-control" [options]="start_options" placeholder="Select start date" ngx-mydatepicker formControlName="start_date"
                name="start_date" #start="ngx-mydatepicker" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-warning" (click)="start.clearDate()">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-info" (click)="start.toggleCalendar()">
                  <i class="fas fa-calendar-alt"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="end_date">End date</label>
            <div class="input-group">
              <input class="form-control" [options]="start_options" placeholder="Select end date" ngx-mydatepicker formControlName="end_date"
                name="end_date" #end="ngx-mydatepicker" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-warning" (click)="end.clearDate()">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-info" (click)="end.toggleCalendar()">
                  <i class="fas fa-calendar-alt"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="employee">Select employee</label>
            <ng-select id="employee" [items]="employees" bindLabel="email" bindValue="id" formControlName="employee" placeholder="Select a employee"></ng-select>
          </div>
        </div>
      </form>
      <hr>
      <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" *ngIf="loggedUser.role == 'human_resource'">
          <a class="nav-link text-center" (click)="changeStatus('can_modify')" [ngClass]="loggedUser.role == 'human_resource' ? 'active' : 'hidden'" id="pills-new-tab" data-toggle="pill" href="#pills-new" role="tab">
            <i class="fas fa-chess-rook m-2"></i>
            <p class="m-0">New</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" (click)="changeStatus('confirmed')" [ngClass]="{'active' : loggedUser.role == 'accounts'}" id="pills-confirmed-tab" data-toggle="pill" href="#pills-confirmed" role="tab">
            <i class="fas fa-chess-knight m-2"></i>
            <p class="m-0">Confirmed</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" (click)="changeStatus('paid')" id="pills-paid-tab" data-toggle="pill" href="#pills-paid" role="tab">
            <i class="fas fa-chess-queen m-2"></i>
            <p class="m-0">Paid</p>
          </a>
        </li>
      </ul>
      <slip-table [type]="status" [start_date]="start_date" [end_date]="end_date" [employee]="employee" (openSlipModal)="openSlipModal($event)"></slip-table>
    </div>
  </div>
</div>


<!-- Salary slip modal -->

<div class="modal fade" id="slipModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="slipModalLabel">{{addSlip ? 'Create salary slip' : 'Update salary slip'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <form [formGroup]="slipForm" autocomplete="off">
        <div class="modal-body">
          <div class="form-group">
            <label for="employee_id">Employee</label>
            <ng-select id="employee_id" [items]="employees" bindLabel="email" bindValue="id" formControlName="employee_id" placeholder="Select employee"></ng-select>
          </div>
          <div class="form-group">
            <label for="bonus">Bonus</label>
            <input type="number" class="form-control" id="bonus" formControlName="bonus" placeholder="4000">
          </div>
          <div class="form-group">
            <label for="leave_days">Leave days</label>
            <input type="number" class="form-control" [attr.max]="31" id="leave_days" formControlName="leave_days" placeholder="10">
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" [readonly]="true" id="amount" formControlName="amount" placeholder="0">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="slipForm.invalid || slipForm.pristine" (click)="saveChanges()">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
