<div class="container-fluid p-5">
  <div class="card c-shadow">
    <div class="card-body">
      <div class="container-fluid mb-3">
        <form class="row" [formGroup]="filterForm">
          <div class="col-md-3">
            <div class="form-group">
              <label for="start_date">Start date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select start date" ngx-mydatepicker formControlName="start_date"
                  name="start_date" #start="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="start.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="start.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="end_date">End date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select end date" ngx-mydatepicker formControlName="end_date"
                  name="end_date" #end="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="end.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="end.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <create-requisition-order *ngIf="loggedUser?.role == 'plant_supervisor'"></create-requisition-order>
          </div>
        </form>
      </div>
      <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link text-center" [ngClass]="{'active': type=='can_modify'}" (click)="changeType($event, 'can_modify')" id="pills-new-tab" href="#" role="tab">
            <i class="fas fa-chess-rook m-2"></i>
            <p class="m-0">New</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" [ngClass]="{'active': type=='opened'}" (click)="changeType($event, 'opened')" id="pills-processing-tab" href="#" role="tab">
            <i class="fas fa-chess-knight m-2"></i>
            <p class="m-0">Processing</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center" [ngClass]="{'active': type=='closed'}" (click)="changeType($event, 'closed')" id="pills-closed-tab" href="#" role="tab">
            <i class="fas fa-chess-queen m-2"></i>
            <p class="m-0">Closed</p>
          </a>
        </li>
      </ul>
      <requisition-table (openReqViewModal)="viewReq($event)" (openReqModal)="openReqModal($event)" [start_date]="start_date" [end_date]="end_date"
        [type]="type"></requisition-table>
    </div>
  </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">REQUISITION ORDER DETAILS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <h5>REQUISITION ORDER: {{currentRequisition?.id}}</h5>
        <h6 class="text-muted">CREATED ON: {{currentRequisition?.created_at | date: 'mediumDate'}}</h6>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>Inventory Item ID</th>
              <th>Quantity</th>
              <th *ngIf="loggedUser?.role == 'store_purchases' && currentRequisition.status != 'closed'">Available</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let particulars of currentRequisition?.req_particulars">
              <td>{{particulars.inventory_item.item_code}} - {{particulars.inventory_item.description}}</td>
              <td>{{particulars.quantity}}</td>
              <td *ngIf="loggedUser?.role == 'store_purchases' && currentRequisition.status != 'closed'" class="text-center">
                <i class="fas" [ngClass]="particulars.quantity_available ? 'fa-check text-success' : 'fa-times text-danger'"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!canOpen()" *ngIf="currentRequisition?.status == 'can_modify' && loggedUser?.role == 'store_purchases'"
          (click)="openReq($event, currentRequisition?.id)">Mark open</button>
      </div>
    </div>
  </div>
</div>
