<div class="container-fluid p-5">
  <div class="card">
    <div class="card-body">
      <div class="text-right" *ngIf="loggedUser?.role == 'distributor' || loggedUser?.role == 'dealer'">
        <button class="btn btn-outline-success" (click)="openFeedbackModal()"><i class="fas fa-plus mr-2"></i>Give feedback</button>
      </div>
      <form [formGroup]="filterForm">
        <div class="row justify-content-center">
          <div *ngIf="loggedUser?.role == 'manufacturer' || loggedUser?.role == 'sales'" class="col-sm-6">
            <div class="form-group">
              <label for="start_date">Start date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select start date" ngx-mydatepicker formControlName="start_date"
                  name="start_date" #start="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="start.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="start.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="loggedUser?.role == 'manufacturer' || loggedUser?.role == 'sales'" class="col-sm-6">
            <div class="form-group">
              <label for="end_date">End date</label>
              <div class="input-group">
                <input class="form-control" [options]="start_options" placeholder="Select end date" ngx-mydatepicker formControlName="end_date"
                  name="end_date" #end="ngx-mydatepicker" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-warning" (click)="end.clearDate()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-info" (click)="end.toggleCalendar()">
                    <i class="fas fa-calendar-alt"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div [ngClass]="loggedUser?.role == 'manufacturer' || loggedUser?.role == 'sales' ? 'col-sm-6' : 'col-sm-4'">
            <div class="form-group">
              <label for="category">Category</label>
              <ng-select id="category" [items]="categories" bindLabel="display" bindValue="value" formControlName="category" placeholder="Select your category"></ng-select>
            </div>
          </div>
          <div class="col-sm-6" *ngIf="loggedUser?.role == 'manufacturer' || loggedUser?.role == 'sales'">
            <div class="form-group">
              <label for="user">Distributor/Dealer</label>
              <ng-select id="user" [items]="users" bindLabel="email" bindValue="id" formControlName="user" placeholder="Select your user"></ng-select>
            </div>
          </div>
        </div>
      </form>
      <div *ngIf="loggedUser?.role == 'manufacturer' || loggedUser?.role == 'sales'; else allfeed">
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-center active" id="pills-unread-tab" data-toggle="pill" href="#pills-unread" role="tab" (click)="type = 'unread'">
              <i class="fas fa-folder-open m-2"></i>
              <p class="m-0">Unread</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-center" id="pills-read-tab" data-toggle="pill" href="#pills-read" role="tab" (click)="type = 'read'">
              <i class="fas fa-folder m-2"></i>
              <p class="m-0">Read</p>
            </a>
          </li>
        </ul>
        <feedback-table type="unread" (openFeedDetail)="openFeedbackModal($event)" [start_date]="start_date" [end_date]="end_date" [category]="category_filter.value" [type]="type" [user]="user_filter.value"></feedback-table>
      </div>
      <ng-template #allfeed>
        <div class="mt-3">
          <feedback-table type="all" (openFeedDetail)="openFeedbackModal($event)" [start_date]="start_date" [end_date]="end_date" [category]="category_filter.value"></feedback-table>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title underline" id="feedbackModalLabel" *ngIf="addFeed">
          <i class="fas fa-plus"></i> give feedback</h5>
        <h5 class="modal-title" id="feedbackModalLabel" *ngIf="!addFeed">Feedback details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="detail" *ngIf="!addFeed">
          <h6>Category</h6>
          <p class="text-muted">{{currentFeed?.category}}</p>
          <hr>
          <h6>Subject</h6>
          <p class="text-muted">{{currentFeed?.subject}}</p>
          <hr>
          <h6>Message</h6>
          <p class="text-muted">{{currentFeed?.body}}</p>
        </div>
        <form [formGroup]="feedbackForm" autocomplete="off" (ngSubmit)="sendFeedback()" *ngIf="addFeed">
          <div class="form-group">
            <label for="category">Category</label>
            <ng-select id="category" [items]="categories" bindLabel="display" bindValue="value" formControlName="category" placeholder="Select your category"></ng-select>
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <span class="ml-3 badge badge-warning">not more than 40 characters</span>
            <input class="form-control" id="subject" formControlName="subject" placeholder="Your subject">
          </div>
          <div class="form-group">
            <label for="body">Message</label>
            <textarea rows="6" class="form-control" id="body" formControlName="body" placeholder="Your message..."></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" *ngIf="addFeed" class="btn btn-primary" [disabled]="!feedbackForm.valid" (click)="saveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>
